<div class="grocery-banner-area">
    <div class="container-fluid">
        <div class="grocery-banner-content">
            <span>WELCOME TO VAXIM</span>
            <h1>Order Grocery Online Save Your <b>Money</b> And <b>Time</b></h1>
            <p>100% Fresh Products / Summer Discount - Up to 50% Off</p>
            <ul class="banner-btn">
                <li>
                    <a routerLink="/shop-full-width-1" class="default-btn-with-border-radius">Shop Now</a>
                </li>
                <li>    
                    <a routerLink="/contact" class="default-btn-with-border-radius white-color">Contact Us</a>
                </li>
            </ul>
            <div class="dravo-bg-image">
                <img src="assets/img/home-eight/banner/dravo.png" alt="dravo">
            </div>
        </div>
    </div>
    <div class="grocery-banner-image">
        <img src="assets/img/home-eight/banner/banner.png" alt="image">
    </div>
</div>