<div class="collection-area pb-70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="collection-box">
                    <img src="assets/img/collection/collection9.jpg" alt="collection-image">
                    <div class="content">
                        <span>Top Collection</span>
                        <h3>SHOP WOMANS</h3>
                        <a routerLink="/shop-right-sidebar-1" class="link-btn"><i class="fas fa-store"></i> SHOP NOW</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="collections-list">
                    <div class="collection-box">
                        <img src="assets/img/collection/collection10.jpg" alt="collection-image">
                        <div class="content style-two">
                            <span>New Arrival</span>
                            <h3>ACCESSORIES</h3>
                            <a routerLink="/shop-right-sidebar-1" class="link-btn"><i class="fas fa-store"></i> SHOP NOW</a>
                        </div>
                    </div>
                    <div class="collection-box">
                        <img src="assets/img/collection/collection11.jpg" alt="collection-image">
                        <div class="content style-three">
                            <span>New Arrival</span>
                            <h3>SUMMER DRESS</h3>
                            <a routerLink="/shop-right-sidebar-1" class="link-btn"><i class="fas fa-store"></i> SHOP NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>