<div
    class="blog-area pt-100 pb-70"
    [ngClass]="{'d-none': router.url === '/index-4' || router.url === '/index-5' || router.url === '/index-7' || router.url === '/index-8'}"
>
    <div class="container">
        <div class="section-title">
            <h2><span>Vaxim Latest News</span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="image">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="assets/img/blog/blog1.jpg" alt="blog-image">
                        </a>
                    </div>
                    <div class="content">
                        <ul class="meta">
                            <li><a routerLink="/blog-grid">FASHION</a></li>
                            <li>15TH JUNE, 2021</li>
                        </ul>
                        <h3><a routerLink="/blog-details">The who what wear summer guide is here Girl thing to know</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="image">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="assets/img/blog/blog2.jpg" alt="blog-image">
                        </a>
                    </div>
                    <div class="content">
                        <ul class="meta">
                            <li><a routerLink="/blog-grid">LIFESTYLE</a></li>
                            <li>14TH JUNE, 2021</li>
                        </ul>
                        <h3><a routerLink="/blog-details">The Vaxim 33 of this week's best new arrivals for summer</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="image">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="assets/img/blog/blog3.jpg" alt="blog-image">
                        </a>
                    </div>
                    <div class="content">
                        <ul class="meta">
                            <li><a routerLink="/blog-grid">DESIGN</a></li>
                            <li>13TH JUNE, 2021</li>
                        </ul>
                        <h3><a routerLink="/blog-details">How to sell Menswear to Women and Womenswear to Men</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="circle-shape"><img src="assets/img/circle.png" alt="shape"></div>
</div>

<!-- This section for Home Demo - 4 -->
<div
    class="blog-area pt-100 pb-70 d-none"
    [ngClass]="{'d-block': router.url === '/index-4'}"
>
    <div class="container">
        <div class="section-title style-with-image">
            <img src="assets/img/more-home/section-title.png" alt="image">
            <h2>Our Latest Blog</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="image">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="assets/img/more-home/blog/blog-1.jpg" alt="blog-image">
                        </a>
                    </div>
                    <div class="content">
                        <ul class="meta">
                            <li><a routerLink="/blog-grid">FASHION</a></li>
                            <li>15TH JUNE, 2021</li>
                        </ul>
                        <h3><a routerLink="/blog-details">The who what wear summer guide is here Girl thing to know</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="image">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="assets/img/more-home/blog/blog-2.jpg" alt="blog-image">
                        </a>
                    </div>
                    <div class="content">
                        <ul class="meta">
                            <li><a routerLink="/blog-grid">LIFESTYLE</a></li>
                            <li>15TH JUNE, 2021</li>
                        </ul>
                        <h3><a routerLink="/blog-details">The Vaxim 33 of this week's best new arrivals for summer</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="image">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="assets/img/more-home/blog/blog-3.jpg" alt="blog-image">
                        </a>
                    </div>
                    <div class="content">
                        <ul class="meta">
                            <li><a routerLink="/blog-grid">DESIGN</a></li>
                            <li>15TH JUNE, 2021</li>
                        </ul>
                        <h3><a routerLink="/blog-details">How to sell Menswear to Women and Womenswear to Men</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- This section for Home Demo - 5 -->
<div
    class="blog-area pt-100 pb-70 d-none"
    [ngClass]="{'d-block': router.url === '/index-5'}"
>
    <div class="container">
        <div class="section-title style-with-image">
            <img src="assets/img/more-home/section-title.png" alt="image">
            <h2>Our Latest Blog</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="image">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="assets/img/more-home/blog/blog-4.jpg" alt="blog-image">
                        </a>
                    </div>
                    <div class="content">
                        <ul class="meta">
                            <li><a routerLink="/blog-grid">FASHION</a></li>
                            <li>15TH JUNE, 2021</li>
                        </ul>
                        <h3><a routerLink="/blog-details">The who what wear summer guide is here Girl thing to know</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="image">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="assets/img/more-home/blog/blog-5.jpg" alt="blog-image">
                        </a>
                    </div>
                    <div class="content">
                        <ul class="meta">
                            <li><a routerLink="/blog-grid">LIFESTYLE</a></li>
                            <li>15TH JUNE, 2021</li>
                        </ul>
                        <h3><a routerLink="/blog-details">The Vaxim 33 of this week's best new arrivals for summer</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="image">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="assets/img/more-home/blog/blog-6.jpg" alt="blog-image">
                        </a>
                    </div>
                    <div class="content">
                        <ul class="meta">
                            <li><a routerLink="/blog-grid">DESIGN</a></li>
                            <li>15TH JUNE, 2021</li>
                        </ul>
                        <h3><a routerLink="/blog-details">How to sell Menswear to Women and Womenswear to Men</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- This section for Home Demo - 7 -->
<div
    class="blog-wrap-area pt-100 pb-70 d-none"
    [ngClass]="{'d-block': router.url === '/index-7'}"
>
    <div class="container">
        <div class="section-heading-title">
            <h2>Vaxim Latest News</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="blog-wrap-card">
                    <div class="blog-image">
                        <a routerLink="/blog-details">
                            <img src="assets/img/home-seven/blog/blog1.jpg" alt="image">
                        </a>
                        <div class="date">
                            <b>Feb</b>
                            <span>25</span>
                        </div>
                    </div>
                    <div class="blog-content">
                        <span>By <a routerLink="/blog-grid">Patrick</a></span>
                        <h3>
                            <a routerLink="/blog-details">Some rules of buying online smart watch</a>
                        </h3>
                        <a routerLink="/blog-details" class="default-btn-with-border-radius">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-wrap-card">
                    <div class="blog-image">
                        <a routerLink="/blog-details">
                            <img src="assets/img/home-seven/blog/blog2.jpg" alt="image">
                        </a>
                        <div class="date">
                            <b>Feb</b>
                            <span>26</span>
                        </div>
                    </div>
                    <div class="blog-content">
                        <span>By <a routerLink="/blog-grid">Edythe</a></span>
                        <h3>
                            <a routerLink="/blog-details">One of the guidelines for buying the phone</a>
                        </h3>
                        <a routerLink="/blog-details" class="default-btn-with-border-radius">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-wrap-card">
                    <div class="blog-image">
                        <a routerLink="/blog-details">
                            <img src="assets/img/home-seven/blog/blog3.jpg" alt="image">
                        </a>
                        <div class="date">
                            <b>Feb</b>
                            <span>27</span>
                        </div>
                    </div>
                    <div class="blog-content">
                        <span>By <a routerLink="/blog-grid">Donald</a></span>
                        <h3>
                            <a routerLink="/blog-details">Guide to buying laptops and gadgets online</a>
                        </h3>
                        <a routerLink="/blog-details" class="default-btn-with-border-radius">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- This section for Home Demo - 8 -->
<div
    class="blog-wrap-area pt-100 pb-70 d-none"
    [ngClass]="{'d-block': router.url === '/index-8'}"
>
    <div class="container">
        <div class="section-heading-title">
            <h2>Vaxim Latest News</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="blog-wrap-card grocery-main-color">
                    <div class="blog-image">
                        <a routerLink="/blog-details">
                            <img src="assets/img/home-eight/blog/blog1.jpg" alt="image">
                        </a>
                        <div class="date">
                            <b>Feb</b>
                            <span>25</span>
                        </div>
                    </div>
                    <div class="blog-content">
                        <span>By <a routerLink="/blog-grid">Patrick</a></span>
                        <h3>
                            <a routerLink="/blog-details">Some rules of buying online grocery products</a>
                        </h3>
                        <a routerLink="/blog-details" class="default-btn-with-border-radius">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-wrap-card grocery-main-color">
                    <div class="blog-image">
                        <a routerLink="/blog-details">
                            <img src="assets/img/home-eight/blog/blog2.jpg" alt="image">
                        </a>
                        <div class="date">
                            <b>Feb</b>
                            <span>26</span>
                        </div>
                    </div>
                    <div class="blog-content">
                        <span>By <a routerLink="/blog-grid">Edythe</a></span>
                        <h3>
                            <a routerLink="/blog-details">One of the guidelines for healthy eating</a>
                        </h3>
                        <a routerLink="/blog-details" class="default-btn-with-border-radius">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-wrap-card grocery-main-color">
                    <div class="blog-image">
                        <a routerLink="/blog-details">
                            <img src="assets/img/home-eight/blog/blog3.jpg" alt="image">
                        </a>
                        <div class="date">
                            <b>Feb</b>
                            <span>27</span>
                        </div>
                    </div>
                    <div class="blog-content">
                        <span>By <a routerLink="/blog-grid">Donald</a></span>
                        <h3>
                            <a routerLink="/blog-details">Guide to buying groceries online</a>
                        </h3>
                        <a routerLink="/blog-details" class="default-btn-with-border-radius">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>