<div class="skin-care-home-area">
    <div class="container-fluid">
        <div class="skin-care-home-slides">
            <owl-carousel-o [options]="skinCareHomeSlides">
                <ng-template carouselSlide>
                    <div class="skin-care-home-item">
                        <div class="row align-items-center">
                            <div class="col-lg-7 col-md-12">
                                <div class="skin-care-content">
                                    <span class="sub-title">Skin Care</span>
                                    <h1>LET YOUR SKIN DO THE WALKING</h1>
                                    <p>Trending from men and women style collection</p>
                                    <a routerLink="/shop-right-sidebar-1" class="default-btn"><i class="fas fa-store"></i> SHOP NOW</a>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-12">
                                <div class="skin-care-home-image">
                                    <img src="assets/img/more-home/skin-care/home-1.jpg" alt="banner-image">
                                    <div class="skin-care-small-image">
                                        <img src="assets/img/more-home/skin-care/home-2.jpg" alt="banner-image">
                                    </div>
                                    <div class="skin-care-original-shape">
                                        <img src="assets/img/more-home/skin-care/original.png" alt="image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="skin-care-home-item">
                        <div class="row align-items-center">
                            <div class="col-lg-7 col-md-12">
                                <div class="skin-care-content">
                                    <span class="sub-title">Skin Care</span>
                                    <h1>LET YOUR SKIN DO THE WALKING</h1>
                                    <p>Trending from men and women style collection</p>
                                    <a routerLink="/shop-right-sidebar-1" class="default-btn"><i class="fas fa-store"></i> SHOP NOW</a>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-12">
                                <div class="skin-care-home-image">
                                    <img src="assets/img/more-home/skin-care/home-1.jpg" alt="banner-image">
                                    <div class="skin-care-small-image">
                                        <img src="assets/img/more-home/skin-care/home-2.jpg" alt="banner-image">
                                    </div>
                                    <div class="skin-care-original-shape">
                                        <img src="assets/img/more-home/skin-care/original.png" alt="image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>