<div class="subscribe-area">
    <div class="container">
        <div class="row m-0">
            <div class="col-lg-5 col-md-12 p-0">
                <div class="subscribe-image" *ngFor="let Content of bgImage;" style="background-image: url({{Content.img}});">
                    <img src="assets/img/subscribe-img.jpg" alt="subscribe-img">
                </div>
            </div>
            <div class="col-lg-7 col-md-12 p-0">
                <div class="subscribe-content">
                    <h2>Sign up now & get 10% off</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <form class="newsletter-form">
                        <input type="email" class="input-newsletter" placeholder="Enter your email address" required>
                        <button type="submit"><i class="far fa-paper-plane"></i>SUBSCRIBE NOW</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>