<div
    class="crafts-arrival-products-area pb-70"
    [ngClass]="{'d-none': router.url === '/index-5'}"
>
    <div class="container">
        <div class="section-title style-with-image">
            <img src="assets/img/more-home/section-title.png" alt="image">
            <h2>New Arrival Products</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-crafts-products-box">
                    <div class="crafts-products-image">
                        <a routerLink="/products-details" class="d-block">
                            <img src="assets/img/more-home/products/products-1.jpg" alt="products-image">
                        </a>
                        <ul class="products-button">
                            <li>
                                <a routerLink="/products-details">
                                    <i class="fas fa-search-plus"></i>
                                    <span class="tooltip-label">View Product</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/compare">
                                    <i class="fas fa-exchange-alt"></i>
                                    <span class="tooltip-label">Compare</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/wishlist">
                                    <i class="far fa-heart"></i>
                                    <span class="tooltip-label">Add to Wishlist</span>
                                </a>
                            </li>
                        </ul>
                        <a routerLink="/cart" class="add-to-cart-btn">Add to cart <i class="fas fa-cart-plus"></i></a>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/products-details">Hajak light</a></h3>
                        <div class="price">$199.00</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-crafts-products-box">
                    <div class="crafts-products-image">
                        <a routerLink="/products-details" class="d-block">
                            <img src="assets/img/more-home/products/products-2.jpg" alt="products-image">
                        </a>
                        <ul class="products-button">
                            <li>
                                <a routerLink="/products-details">
                                    <i class="fas fa-search-plus"></i>
                                    <span class="tooltip-label">View Product</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/compare">
                                    <i class="fas fa-exchange-alt"></i>
                                    <span class="tooltip-label">Compare</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/wishlist">
                                    <i class="far fa-heart"></i>
                                    <span class="tooltip-label">Add to Wishlist</span>
                                </a>
                            </li>
                        </ul>
                        <a routerLink="/cart" class="add-to-cart-btn">Add to cart <i class="fas fa-cart-plus"></i></a>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/products-details">Table lamp</a></h3>
                        <div class="price">$199.00</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-crafts-products-box">
                    <div class="crafts-products-image">
                        <a routerLink="/products-details" class="d-block">
                            <img src="assets/img/more-home/products/products-3.jpg" alt="products-image">
                        </a>
                        <ul class="products-button">
                            <li>
                                <a routerLink="/products-details">
                                    <i class="fas fa-search-plus"></i>
                                    <span class="tooltip-label">View Product</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/compare">
                                    <i class="fas fa-exchange-alt"></i>
                                    <span class="tooltip-label">Compare</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/wishlist">
                                    <i class="far fa-heart"></i>
                                    <span class="tooltip-label">Add to Wishlist</span>
                                </a>
                            </li>
                        </ul>
                        <a routerLink="/cart" class="add-to-cart-btn">Add to cart <i class="fas fa-cart-plus"></i></a>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/products-details">Minimal chair</a></h3>
                        <div class="price">$199.00</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-crafts-products-box">
                    <div class="crafts-products-image">
                        <a routerLink="/products-details" class="d-block">
                            <img src="assets/img/more-home/products/products-4.jpg" alt="products-image">
                        </a>
                        <ul class="products-button">
                            <li>
                                <a routerLink="/products-details">
                                    <i class="fas fa-search-plus"></i>
                                    <span class="tooltip-label">View Product</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/compare">
                                    <i class="fas fa-exchange-alt"></i>
                                    <span class="tooltip-label">Compare</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/wishlist">
                                    <i class="far fa-heart"></i>
                                    <span class="tooltip-label">Add to Wishlist</span>
                                </a>
                            </li>
                        </ul>
                        <a routerLink="/cart" class="add-to-cart-btn">Add to cart <i class="fas fa-cart-plus"></i></a>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/products-details">Night lamp</a></h3>
                        <div class="price">$199.00</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-crafts-products-box">
                    <div class="crafts-products-image">
                        <a routerLink="/products-details" class="d-block">
                            <img src="assets/img/more-home/products/products-5.jpg" alt="products-image">
                        </a>
                        <ul class="products-button">
                            <li>
                                <a routerLink="/products-details">
                                    <i class="fas fa-search-plus"></i>
                                    <span class="tooltip-label">View Product</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/compare">
                                    <i class="fas fa-exchange-alt"></i>
                                    <span class="tooltip-label">Compare</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/wishlist">
                                    <i class="far fa-heart"></i>
                                    <span class="tooltip-label">Add to Wishlist</span>
                                </a>
                            </li>
                        </ul>
                        <a routerLink="/cart" class="add-to-cart-btn">Add to cart <i class="fas fa-cart-plus"></i></a>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/products-details">Sitting tool</a></h3>
                        <div class="price">$199.00</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-crafts-products-box">
                    <div class="crafts-products-image">
                        <a routerLink="/products-details" class="d-block">
                            <img src="assets/img/more-home/products/products-6.jpg" alt="products-image">
                        </a>
                        <ul class="products-button">
                            <li>
                                <a routerLink="/products-details">
                                    <i class="fas fa-search-plus"></i>
                                    <span class="tooltip-label">View Product</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/compare">
                                    <i class="fas fa-exchange-alt"></i>
                                    <span class="tooltip-label">Compare</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/wishlist">
                                    <i class="far fa-heart"></i>
                                    <span class="tooltip-label">Add to Wishlist</span>
                                </a>
                            </li>
                        </ul>
                        <a routerLink="/cart" class="add-to-cart-btn">Add to cart <i class="fas fa-cart-plus"></i></a>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/products-details">Home showcase</a></h3>
                        <div class="price">$199.00</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-crafts-products-box">
                    <div class="crafts-products-image">
                        <a routerLink="/products-details" class="d-block">
                            <img src="assets/img/more-home/products/products-7.jpg" alt="products-image">
                        </a>
                        <ul class="products-button">
                            <li>
                                <a routerLink="/products-details">
                                    <i class="fas fa-search-plus"></i>
                                    <span class="tooltip-label">View Product</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/compare">
                                    <i class="fas fa-exchange-alt"></i>
                                    <span class="tooltip-label">Compare</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/wishlist">
                                    <i class="far fa-heart"></i>
                                    <span class="tooltip-label">Add to Wishlist</span>
                                </a>
                            </li>
                        </ul>
                        <a routerLink="/cart" class="add-to-cart-btn">Add to cart <i class="fas fa-cart-plus"></i></a>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/products-details">Flower pot</a></h3>
                        <div class="price">$199.00</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-crafts-products-box">
                    <div class="crafts-products-image">
                        <a routerLink="/products-details" class="d-block">
                            <img src="assets/img/more-home/products/products-8.jpg" alt="products-image">
                        </a>
                        <ul class="products-button">
                            <li>
                                <a routerLink="/products-details">
                                    <i class="fas fa-search-plus"></i>
                                    <span class="tooltip-label">View Product</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/compare">
                                    <i class="fas fa-exchange-alt"></i>
                                    <span class="tooltip-label">Compare</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/wishlist">
                                    <i class="far fa-heart"></i>
                                    <span class="tooltip-label">Add to Wishlist</span>
                                </a>
                            </li>
                        </ul>
                        <a routerLink="/cart" class="add-to-cart-btn">Add to cart <i class="fas fa-cart-plus"></i></a>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/products-details">Bamboo showcase</a></h3>
                        <div class="price">$199.00</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- This section for Home Demo - 5 -->
<div
    class="crafts-arrival-products-area pt-100 pb-70 d-none"
    [ngClass]="{'d-block': router.url === '/index-5'}"
>
    <div class="container">
        <div class="section-title style-with-image">
            <img src="assets/img/more-home/section-title.png" alt="image">
            <h2>New Arrival Products</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6">
                <div class="single-crafts-products-box">
                    <div class="crafts-products-image">
                        <a routerLink="/products-details" class="d-block">
                            <img src="assets/img/more-home/products/products-17.jpg" alt="products-image">
                        </a>
                        <ul class="products-button">
                            <li>
                                <a routerLink="/products-details">
                                    <i class="fas fa-search-plus"></i>
                                    <span class="tooltip-label">View Product</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/compare">
                                    <i class="fas fa-exchange-alt"></i>
                                    <span class="tooltip-label">Compare</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/wishlist">
                                    <i class="far fa-heart"></i>
                                    <span class="tooltip-label">Add to Wishlist</span>
                                </a>
                            </li>
                        </ul>
                        <a routerLink="/cart" class="add-to-cart-btn">Add to cart <i class="fas fa-cart-plus"></i></a>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/products-details">Kids lotion</a></h3>
                        <div class="price">$199.00</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-crafts-products-box">
                    <div class="crafts-products-image">
                        <a routerLink="/products-details" class="d-block">
                            <img src="assets/img/more-home/products/products-18.jpg" alt="products-image">
                        </a>
                        <ul class="products-button">
                            <li>
                                <a routerLink="/products-details">
                                    <i class="fas fa-search-plus"></i>
                                    <span class="tooltip-label">View Product</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/compare">
                                    <i class="fas fa-exchange-alt"></i>
                                    <span class="tooltip-label">Compare</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/wishlist">
                                    <i class="far fa-heart"></i>
                                    <span class="tooltip-label">Add to Wishlist</span>
                                </a>
                            </li>
                        </ul>
                        <a routerLink="/cart" class="add-to-cart-btn">Add to cart <i class="fas fa-cart-plus"></i></a>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/products-details">Face cream</a></h3>
                        <div class="price">$199.00</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-crafts-products-box">
                    <div class="crafts-products-image">
                        <a routerLink="/products-details" class="d-block">
                            <img src="assets/img/more-home/products/products-19.jpg" alt="products-image">
                        </a>
                        <ul class="products-button">
                            <li>
                                <a routerLink="/products-details">
                                    <i class="fas fa-search-plus"></i>
                                    <span class="tooltip-label">View Product</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/compare">
                                    <i class="fas fa-exchange-alt"></i>
                                    <span class="tooltip-label">Compare</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/wishlist">
                                    <i class="far fa-heart"></i>
                                    <span class="tooltip-label">Add to Wishlist</span>
                                </a>
                            </li>
                        </ul>
                        <a routerLink="/cart" class="add-to-cart-btn">Add to cart <i class="fas fa-cart-plus"></i></a>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/products-details">Body cleaner</a></h3>
                        <div class="price">$199.00</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-crafts-products-box">
                    <div class="crafts-products-image">
                        <a routerLink="/products-details" class="d-block">
                            <img src="assets/img/more-home/products/products-20.jpg" alt="products-image">
                        </a>
                        <ul class="products-button">
                            <li>
                                <a routerLink="/products-details">
                                    <i class="fas fa-search-plus"></i>
                                    <span class="tooltip-label">View Product</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/compare">
                                    <i class="fas fa-exchange-alt"></i>
                                    <span class="tooltip-label">Compare</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/wishlist">
                                    <i class="far fa-heart"></i>
                                    <span class="tooltip-label">Add to Wishlist</span>
                                </a>
                            </li>
                        </ul>
                        <a routerLink="/cart" class="add-to-cart-btn">Add to cart <i class="fas fa-cart-plus"></i></a>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/products-details">Face cleaner</a></h3>
                        <div class="price">$199.00</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-crafts-products-box">
                    <div class="crafts-products-image">
                        <a routerLink="/products-details" class="d-block">
                            <img src="assets/img/more-home/products/products-21.jpg" alt="products-image">
                        </a>
                        <ul class="products-button">
                            <li>
                                <a routerLink="/products-details">
                                    <i class="fas fa-search-plus"></i>
                                    <span class="tooltip-label">View Product</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/compare">
                                    <i class="fas fa-exchange-alt"></i>
                                    <span class="tooltip-label">Compare</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/wishlist">
                                    <i class="far fa-heart"></i>
                                    <span class="tooltip-label">Add to Wishlist</span>
                                </a>
                            </li>
                        </ul>
                        <a routerLink="/cart" class="add-to-cart-btn">Add to cart <i class="fas fa-cart-plus"></i></a>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/products-details">Night cream</a></h3>
                        <div class="price">$199.00</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-crafts-products-box">
                    <div class="crafts-products-image">
                        <a routerLink="/products-details" class="d-block">
                            <img src="assets/img/more-home/products/products-22.jpg" alt="products-image">
                        </a>
                        <ul class="products-button">
                            <li>
                                <a routerLink="/products-details">
                                    <i class="fas fa-search-plus"></i>
                                    <span class="tooltip-label">View Product</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/compare">
                                    <i class="fas fa-exchange-alt"></i>
                                    <span class="tooltip-label">Compare</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/wishlist">
                                    <i class="far fa-heart"></i>
                                    <span class="tooltip-label">Add to Wishlist</span>
                                </a>
                            </li>
                        </ul>
                        <a routerLink="/cart" class="add-to-cart-btn">Add to cart <i class="fas fa-cart-plus"></i></a>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/products-details">Facewash</a></h3>
                        <div class="price">$199.00</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-crafts-products-box">
                    <div class="crafts-products-image">
                        <a routerLink="/products-details" class="d-block">
                            <img src="assets/img/more-home/products/products-23.jpg" alt="products-image">
                        </a>
                        <ul class="products-button">
                            <li>
                                <a routerLink="/products-details">
                                    <i class="fas fa-search-plus"></i>
                                    <span class="tooltip-label">View Product</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/compare">
                                    <i class="fas fa-exchange-alt"></i>
                                    <span class="tooltip-label">Compare</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/wishlist">
                                    <i class="far fa-heart"></i>
                                    <span class="tooltip-label">Add to Wishlist</span>
                                </a>
                            </li>
                        </ul>
                        <a routerLink="/cart" class="add-to-cart-btn">Add to cart <i class="fas fa-cart-plus"></i></a>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/products-details">Light cream</a></h3>
                        <div class="price">$199.00</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-crafts-products-box">
                    <div class="crafts-products-image">
                        <a routerLink="/products-details" class="d-block">
                            <img src="assets/img/more-home/products/products-24.jpg" alt="products-image">
                        </a>
                        <ul class="products-button">
                            <li>
                                <a routerLink="/products-details">
                                    <i class="fas fa-search-plus"></i>
                                    <span class="tooltip-label">View Product</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/compare">
                                    <i class="fas fa-exchange-alt"></i>
                                    <span class="tooltip-label">Compare</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/wishlist">
                                    <i class="far fa-heart"></i>
                                    <span class="tooltip-label">Add to Wishlist</span>
                                </a>
                            </li>
                        </ul>
                        <a routerLink="/cart" class="add-to-cart-btn">Add to cart <i class="fas fa-cart-plus"></i></a>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/products-details">Milk facewash</a></h3>
                        <div class="price">$199.00</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>