<div class="subscribe-area ptb-100">
    <div class="container">
        <div class="subscribe-text">
            <h2>Sign up now & get 10% off</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <form class="newsletter-form">
                <input type="email" class="input-newsletter" placeholder="Enter your email address" required>
                <button type="submit"><i class="far fa-paper-plane"></i>SUBSCRIBE NOW</button>
            </form>
        </div>
    </div>
</div>