<app-homesix-banner [listBanner]="initHomePage.banner"></app-homesix-banner>

<app-shop-by-categories ></app-shop-by-categories>

<app-featured-products [listProdcutsByFeatured]="initHomePage.feather"></app-featured-products>

<!-- <app-collection></app-collection> -->

<app-special-deals [listProductsBySpecial]="initHomePage.specialOffer"></app-special-deals>

<app-summer-sale></app-summer-sale>

<app-special-offer [listProductBySpecialOffer]="initHomePage.specialOffer"></app-special-offer>

<app-partner></app-partner>

<app-popular-products [listProductByPopular]="initHomePage.popular"></app-popular-products>

<app-facility></app-facility>