.electronic-products-card {
    transition: var(--transition);
    border: 1px solid #e5e5e5;
    border-radius: 15px;
    margin-bottom: 30px;
    padding: 25px;

    .electronic-image {
        position: relative;
        border-radius: 15px;
        text-align: center;

        img {
            border-radius: 15px;
        }
        .products-action-list {
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            padding-left: 0;
            margin-bottom: 0;
            position: absolute;
            visibility: hidden;
            display: inline-flex;
            list-style-type: none;
            justify-content: center;
            transition: var(--transition);

            li {
                list-style-type: none;
                display: inline-block;

                a {
                    width: 55px;
                    height: 50px;
                    font-size: 18px;
                    line-height: 50px;
                    text-align: center;
                    position: relative;
                    display: inline-block;
                    color: var(--blackColor);
                    border-right: 1px solid #eeeeee;
                    background-color: var(--whiteColor);
    
                    &:hover {
                        color: var(--whiteColor);
                        background-color: var(--mainColor);
                    }
                }
                &:nth-child(1) {
                    a {
                        border-radius: 8px 0 0 8px;
                    }
                }
                &:nth-child(3) {
                    a {
                        border-radius: 0 8px 8px 0;
                        border-right: none;
                    }
                }
            }
        }
        .sale {
            top: -10px;
            left: -10px;
            padding: 5px 15px;
            position: absolute;
            border-radius: 50px;
            display: inline-block;
            color: var(--whiteColor);
            background-color: var(--mainColor);
            font: {
                weight: 500;
                size: 14px;
            };
        }
        .new {
            top: -10px;
            left: -10px;
            padding: 5px 15px;
            position: absolute;
            border-radius: 50px;
            display: inline-block;
            color: var(--whiteColor);
            background-color: #FFB800;
            font: {
                weight: 500;
                size: 14px;
            };
        }
    }
    .electronic-content {
        margin-top: 20px;

        b {
            display: block;
            margin-bottom: 12px;
            color: var(--optionalColor);
            font: {
                weight: 400;
                size: 15px;
            };
        }
        h3 {
            font-size: 20px;
            margin-bottom: 12px;
        }
        .price {
            margin-bottom: 12px;

            .new-price {
                color: var(--mainColor);
                font: {
                    size: 15px;
                    weight: bold;
                };
            }
            .old-price {
                margin-left: 5px;
                color: var(--optionalColor);
                text-decoration-line: line-through;
                font: {
                    weight: 400;
                    size: 14px;
                };
            }
        }
        .rating {
            padding: 0;
            margin-bottom: 0;

            li {
                list-style-type: none;
                display: inline-block;
                margin-right: 2px;

                i {
                    color: #FFB800;
                    font-size: 14px;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    &:hover {
        .electronic-image {
            .products-action-list {
                opacity: 1;
                bottom: 15px;
                visibility: visible;
            }
        }
    }
}
.d-none {
    &.d-block {
        display: block !important;
    }
}

@import "../products/products.component.scss";

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .electronic-products-card {
        .electronic-image {
            .products-action-list {
                opacity: 1;
                bottom: 15px;
                visibility: visible;
            }
        }
        .electronic-content {
            h3 {
                font-size: 18px;
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}