<div
    class="electronic-products-area with-bottom pb-70"
    [ngClass]="{'d-none': router.url === '/index-8'}"
>
    <div class="container">
        <div class="section-heading-title d-flex justify-content-between align-items-center">
            <h2>Deals Of The Day</h2>
            <ul class="default-countdown flex-wrap d-flex justify-content-center">
                <li class="align-items-center flex-column d-flex justify-content-center">
                    {{days}}
                    <span class="days">Days</span>
                </li>
                <li class="align-items-center flex-column d-flex justify-content-center">
                    {{hours}}
                    <span class="hours">Hours</span>
                </li>
                <li class="align-items-center flex-column d-flex justify-content-center">
                    {{minutes}}
                    <span class="minutes">Mins</span>
                </li>
                <li class="align-items-center flex-column d-flex justify-content-center">
                    {{seconds}}
                    <span class="seconds">Secs</span>
                </li>
            </ul>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="electronic-products-card">
                    <div class="electronic-image">
                        <a routerLink="/products-details">
                            <img src="assets/img/home-seven/products/products1.jpg" alt="image">
                        </a>
                        <ul class="products-action-list">
                            <li>
                                <a routerLink="/products-details">
                                    <i class="fas fa-search-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/cart">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/wishlist">
                                    <i class="far fa-heart"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="new">Hot</div>
                    </div>
                    <div class="electronic-content">
                        <b>Gadgets</b>
                        <h3>
                            <a routerLink="/products-details">Music Boom Box</a>
                        </h3>
                        <div class="price">
                            <span class="new-price">$199.00</span>
                            <span class="old-price">$245.00</span>
                        </div>
                        <ul class="rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="electronic-products-card">
                    <div class="electronic-image">
                        <a routerLink="/products-details">
                            <img src="assets/img/home-seven/products/products2.jpg" alt="image">
                        </a>
                        <ul class="products-action-list">
                            <li>
                                <a routerLink="/products-details">
                                    <i class="fas fa-search-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/cart">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/wishlist">
                                    <i class="far fa-heart"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="sale">Sale</div>
                    </div>
                    <div class="electronic-content">
                        <b>Gadgets</b>
                        <h3>
                            <a routerLink="/products-details">Laser Home Printer</a>
                        </h3>
                        <div class="price">
                            <span class="new-price">$145.00</span>
                            <span class="old-price">$230.00</span>
                        </div>
                        <ul class="rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="electronic-products-card">
                    <div class="electronic-image">
                        <a routerLink="/products-details">
                            <img src="assets/img/home-seven/products/products3.jpg" alt="image">
                        </a>
                        <ul class="products-action-list">
                            <li>
                                <a routerLink="/products-details">
                                    <i class="fas fa-search-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/cart">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/wishlist">
                                    <i class="far fa-heart"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="new">New</div>
                    </div>
                    <div class="electronic-content">
                        <b>Gadgets</b>
                        <h3>
                            <a routerLink="/products-details">Large Speakers Amplifier</a>
                        </h3>
                        <div class="price">
                            <span class="new-price">$85.00</span>
                            <span class="old-price">$97.00</span>
                        </div>
                        <ul class="rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="electronic-products-card">
                    <div class="electronic-image">
                        <a routerLink="/products-details">
                            <img src="assets/img/home-seven/products/products4.jpg" alt="image">
                        </a>
                        <ul class="products-action-list">
                            <li>
                                <a routerLink="/products-details">
                                    <i class="fas fa-search-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/cart">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/wishlist">
                                    <i class="far fa-heart"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="sale">Sale</div>
                    </div>
                    <div class="electronic-content">
                        <b>Gadgets</b>
                        <h3>
                            <a routerLink="/products-details">Digital Camera</a>
                        </h3>
                        <div class="price">
                            <span class="new-price">$89.00</span>
                            <span class="old-price">$99.00</span>
                        </div>
                        <ul class="rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- This section for Home Demo - 8 -->
<div
    class="grocery-products-area pb-70 d-none"
    [ngClass]="{'d-block': router.url === '/index-8'}"
>
    <div class="container">
        <div class="section-heading-title grocery-main-color d-flex justify-content-between align-items-center">
            <h2>Deals Of The Day</h2>
            <ul class="default-countdown flex-wrap d-flex justify-content-center">
                <li class="align-items-center flex-column d-flex justify-content-center">
                    {{days}}
                    <span class="days">Days</span>
                </li>
                <li class="align-items-center flex-column d-flex justify-content-center">
                    {{hours}}
                    <span class="hours">Hours</span>
                </li>
                <li class="align-items-center flex-column d-flex justify-content-center">
                    {{minutes}}
                    <span class="minutes">Mins</span>
                </li>
                <li class="align-items-center flex-column d-flex justify-content-center">
                    {{seconds}}
                    <span class="seconds">Secs</span>
                </li>
            </ul>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6">
                <div class="grocery-products-card">
                    <div class="grocery-image">
                        <a routerLink="/products-details">
                            <img src="assets/img/home-eight/products/products13.png" alt="image">
                        </a>
                        <ul class="products-action-list">
                            <li>
                                <a routerLink="/products-details">
                                    <i class="fas fa-search-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/cart">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/wishlist">
                                    <i class="far fa-heart"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="grocery-content">
                        <b>Fruit</b>
                        <h3>
                            <a routerLink="/products-details">Honey Ginger Lemon</a>
                        </h3>
                        <div class="price">
                            <span class="new-price">$29.00</span>
                            <span class="old-price">$30.00</span>
                        </div>
                        <ul class="rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                    <div class="new">Hot</div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="grocery-products-card">
                    <div class="grocery-image">
                        <a routerLink="/products-details">
                            <img src="assets/img/home-eight/products/products14.png" alt="image">
                        </a>
                        <ul class="products-action-list">
                            <li>
                                <a routerLink="/products-details">
                                    <i class="fas fa-search-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/cart">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/wishlist">
                                    <i class="far fa-heart"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="grocery-content">
                        <b>Spice</b>
                        <h3>
                            <a routerLink="/products-details">Garlic, Onionro & Semary</a>
                        </h3>
                        <div class="price">
                            <span class="new-price">$19.00</span>
                            <span class="old-price">$25.00</span>
                        </div>
                        <ul class="rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                    <div class="sale">Sale</div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="grocery-products-card">
                    <div class="grocery-image">
                        <a routerLink="/products-details">
                            <img src="assets/img/home-eight/products/products15.png" alt="image">
                        </a>
                        <ul class="products-action-list">
                            <li>
                                <a routerLink="/products-details">
                                    <i class="fas fa-search-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/cart">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/wishlist">
                                    <i class="far fa-heart"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="grocery-content">
                        <b>Meat</b>
                        <h3>
                            <a routerLink="/products-details">Mangosteen</a>
                        </h3>
                        <div class="price">
                            <span class="new-price">$29.00</span>
                            <span class="old-price">$30.00</span>
                        </div>
                        <ul class="rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                    <div class="new">New</div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="grocery-products-card">
                    <div class="grocery-image">
                        <a routerLink="/products-details">
                            <img src="assets/img/home-eight/products/products16.png" alt="image">
                        </a>
                        <ul class="products-action-list">
                            <li>
                                <a routerLink="/products-details">
                                    <i class="fas fa-search-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/cart">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/wishlist">
                                    <i class="far fa-heart"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="grocery-content">
                        <b>Bakery</b>
                        <h3>
                            <a routerLink="/products-details">Salmon Fish</a>
                        </h3>
                        <div class="price">
                            <span class="new-price">$5.00</span>
                            <span class="old-price">$7.00</span>
                        </div>
                        <ul class="rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                    <div class="sale">Sale</div>
                </div>
            </div>
        </div>
    </div>
</div>