<!-- Page Title -->
<div class="page-title-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-7">
                <h2>Shop Right Sidebar</h2>
            </div>
            <div class="col-lg-6 col-md-5">
                <ul class="page-title-content">
                    <li><a routerLink="/">Home</a></li>
                    <li>Shop</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Products -->
<div class="products-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="vaxim-grid-sorting row align-items-center">
                    <div class="col-lg-6 col-md-6 result-count">
                        <div class="d-flex align-items-center">
                            <p>We found <span class="count">12</span> products available for you</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 ordering">
                        <div class="select-box">
                            <label>Sort By:</label>
                            <select>
                                <option>Default</option>
                                <option>Popularity</option>
                                <option>Latest</option>
                                <option>Price: low to high</option>
                                <option>Price: high to low</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="single-products-item">
                            <div class="image">
                                <a routerLink="/products-details" class="d-block">
                                    <img src="assets/img/products/products5.jpg" alt="products-image">
                                </a>
                                <ul class="products-button">
                                    <li>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#productsQuickView">
                                            <i class="fas fa-search-plus"></i>
                                            <span class="tooltip-label">Quick View</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="/compare">
                                            <i class="fas fa-exchange-alt"></i>
                                            <span class="tooltip-label">Compare</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="/wishlist">
                                            <i class="far fa-heart"></i>
                                            <span class="tooltip-label">Add to Wishlist</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="content">
                                <h3><a routerLink="/products-details">Mesh lined snowboard</a></h3>
                                <a routerLink="/cart" class="add-to-cart-btn">Add to cart <i class="fas fa-cart-plus"></i></a>
                                <div class="price">
                                    <span class="new-price">$158.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="single-products-item">
                            <div class="image">
                                <a routerLink="/products-details" class="d-block">
                                    <img src="assets/img/products/products6.jpg" alt="products-image">
                                </a>
                                <ul class="products-button">
                                    <li>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#productsQuickView">
                                            <i class="fas fa-search-plus"></i>
                                            <span class="tooltip-label">Quick View</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="/compare">
                                            <i class="fas fa-exchange-alt"></i>
                                            <span class="tooltip-label">Compare</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="/wishlist">
                                            <i class="far fa-heart"></i>
                                            <span class="tooltip-label">Add to Wishlist</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="content">
                                <h3><a routerLink="/products-details">Pullover ecosmart hooded</a></h3>
                                <a routerLink="/cart" class="add-to-cart-btn">Add to cart <i class="fas fa-cart-plus"></i></a>
                                <div class="price">
                                    <span class="old-price">$521.00</span>
                                    <span class="new-price">$399.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="single-products-item">
                            <div class="image">
                                <a routerLink="/products-details" class="d-block">
                                    <img src="assets/img/products/products14.jpg" alt="products-image">
                                </a>
                                <ul class="products-button">
                                    <li>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#productsQuickView">
                                            <i class="fas fa-search-plus"></i>
                                            <span class="tooltip-label">Quick View</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="/compare">
                                            <i class="fas fa-exchange-alt"></i>
                                            <span class="tooltip-label">Compare</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="/wishlist">
                                            <i class="far fa-heart"></i>
                                            <span class="tooltip-label">Add to Wishlist</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="content">
                                <h3><a routerLink="/products-details">Mesh lined snowboard</a></h3>
                                <a routerLink="/cart" class="add-to-cart-btn">Add to cart <i class="fas fa-cart-plus"></i></a>
                                <div class="price">
                                    <span class="new-price">$158.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="single-products-item">
                            <div class="image">
                                <a routerLink="/products-details" class="d-block">
                                    <img src="assets/img/products/products15.jpg" alt="products-image">
                                </a>
                                <ul class="products-button">
                                    <li>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#productsQuickView">
                                            <i class="fas fa-search-plus"></i>
                                            <span class="tooltip-label">Quick View</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="/compare">
                                            <i class="fas fa-exchange-alt"></i>
                                            <span class="tooltip-label">Compare</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="/wishlist">
                                            <i class="far fa-heart"></i>
                                            <span class="tooltip-label">Add to Wishlist</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="content">
                                <h3><a routerLink="/products-details">Pullover ecosmart hooded</a></h3>
                                <a routerLink="/cart" class="add-to-cart-btn">Add to cart <i class="fas fa-cart-plus"></i></a>
                                <div class="price">
                                    <span class="old-price">$521.00</span>
                                    <span class="new-price">$399.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="single-products-item">
                            <div class="image">
                                <a routerLink="/products-details" class="d-block">
                                    <img src="assets/img/products/products16.jpg" alt="products-image">
                                </a>
                                <ul class="products-button">
                                    <li>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#productsQuickView">
                                            <i class="fas fa-search-plus"></i>
                                            <span class="tooltip-label">Quick View</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="/compare">
                                            <i class="fas fa-exchange-alt"></i>
                                            <span class="tooltip-label">Compare</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="/wishlist">
                                            <i class="far fa-heart"></i>
                                            <span class="tooltip-label">Add to Wishlist</span>
                                        </a>
                                    </li>
                                </ul>
                                <span class="sale">SALE</span>
                            </div>
                            <div class="content">
                                <h3><a routerLink="/products-details">Cheeky woman leather jacket</a></h3>
                                <a routerLink="/cart" class="add-to-cart-btn">Add to cart <i class="fas fa-cart-plus"></i></a>
                                <div class="price">
                                    <span class="new-price">$199.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="single-products-item">
                            <div class="image">
                                <a routerLink="/products-details" class="d-block">
                                    <img src="assets/img/products/products1.jpg" alt="products-image">
                                </a>
                                <ul class="products-button">
                                    <li>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#productsQuickView">
                                            <i class="fas fa-search-plus"></i>
                                            <span class="tooltip-label">Quick View</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="/compare">
                                            <i class="fas fa-exchange-alt"></i>
                                            <span class="tooltip-label">Compare</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="/wishlist">
                                            <i class="far fa-heart"></i>
                                            <span class="tooltip-label">Add to Wishlist</span>
                                        </a>
                                    </li>
                                </ul>
                                <span class="sale">SALE</span>
                            </div>
                            <div class="content">
                                <h3><a routerLink="/products-details">Cheeky woman leather jacket</a></h3>
                                <a routerLink="/cart" class="add-to-cart-btn">Add to cart <i class="fas fa-cart-plus"></i></a>
                                <div class="price">
                                    <span class="new-price">$199.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="single-products-item">
                            <div class="image">
                                <a routerLink="/products-details" class="d-block">
                                    <img src="assets/img/products/products2.jpg" alt="products-image">
                                </a>
                                <ul class="products-button">
                                    <li>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#productsQuickView">
                                            <i class="fas fa-search-plus"></i>
                                            <span class="tooltip-label">Quick View</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="/compare">
                                            <i class="fas fa-exchange-alt"></i>
                                            <span class="tooltip-label">Compare</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="/wishlist">
                                            <i class="far fa-heart"></i>
                                            <span class="tooltip-label">Add to Wishlist</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="content">
                                <h3><a routerLink="/products-details">Comfort man black hoodie</a></h3>
                                <a routerLink="/cart" class="add-to-cart-btn">Add to cart <i class="fas fa-cart-plus"></i></a>
                                <div class="price">
                                    <span class="new-price">$150.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="single-products-item">
                            <div class="image">
                                <a routerLink="/products-details" class="d-block">
                                    <img src="assets/img/products/products3.jpg" alt="products-image">
                                </a>
                                <span class="out-of-stock">Out of Stock</span>
                                <ul class="products-button">
                                    <li>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#productsQuickView">
                                            <i class="fas fa-search-plus"></i>
                                            <span class="tooltip-label">Quick View</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="/compare">
                                            <i class="fas fa-exchange-alt"></i>
                                            <span class="tooltip-label">Compare</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="/wishlist">
                                            <i class="far fa-heart"></i>
                                            <span class="tooltip-label">Add to Wishlist</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="content">
                                <h3><a routerLink="/products-details">Trendy woman black blazer</a></h3>
                                <a routerLink="/cart" class="add-to-cart-btn">Add to cart <i class="fas fa-cart-plus"></i></a>
                                <div class="price">
                                    <span class="old-price">$241.00</span>
                                    <span class="new-price">$200.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="single-products-item">
                            <div class="image">
                                <a routerLink="/products-details" class="d-block">
                                    <img src="assets/img/products/products4.jpg" alt="products-image">
                                </a>
                                <span class="hot">HOT</span>
                                <ul class="products-button">
                                    <li>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#productsQuickView">
                                            <i class="fas fa-search-plus"></i>
                                            <span class="tooltip-label">Quick View</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="/compare">
                                            <i class="fas fa-exchange-alt"></i>
                                            <span class="tooltip-label">Compare</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="/wishlist">
                                            <i class="far fa-heart"></i>
                                            <span class="tooltip-label">Add to Wishlist</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="content">
                                <h3><a routerLink="/products-details">Arctix womens essential</a></h3>
                                <a routerLink="/cart" class="add-to-cart-btn">Add to cart <i class="fas fa-cart-plus"></i></a>
                                <div class="price">
                                    <span class="new-price">$289.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="single-products-item">
                            <div class="image">
                                <a routerLink="/products-details" class="d-block">
                                    <img src="assets/img/products/products8.jpg" alt="products-image">
                                </a>
                                <ul class="products-button">
                                    <li>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#productsQuickView">
                                            <i class="fas fa-search-plus"></i>
                                            <span class="tooltip-label">Quick View</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="/compare">
                                            <i class="fas fa-exchange-alt"></i>
                                            <span class="tooltip-label">Compare</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="/wishlist">
                                            <i class="far fa-heart"></i>
                                            <span class="tooltip-label">Add to Wishlist</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="content">
                                <h3><a routerLink="/products-details">Comfort man black hoodie</a></h3>
                                <a routerLink="/cart" class="add-to-cart-btn">Add to cart <i class="fas fa-cart-plus"></i></a>
                                <div class="price">
                                    <span class="new-price">$150.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="single-products-item">
                            <div class="image">
                                <a routerLink="/products-details" class="d-block">
                                    <img src="assets/img/products/products7.jpg" alt="products-image">
                                </a>
                                <ul class="products-button">
                                    <li>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#productsQuickView">
                                            <i class="fas fa-search-plus"></i>
                                            <span class="tooltip-label">Quick View</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="/compare">
                                            <i class="fas fa-exchange-alt"></i>
                                            <span class="tooltip-label">Compare</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="/wishlist">
                                            <i class="far fa-heart"></i>
                                            <span class="tooltip-label">Add to Wishlist</span>
                                        </a>
                                    </li>
                                </ul>
                                <span class="sale">SALE</span>
                            </div>
                            <div class="content">
                                <h3><a routerLink="/products-details">Cheeky woman leather jacket</a></h3>
                                <a routerLink="/cart" class="add-to-cart-btn">Add to cart <i class="fas fa-cart-plus"></i></a>
                                <div class="price">
                                    <span class="new-price">$199.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="single-products-item">
                            <div class="image">
                                <a routerLink="/products-details" class="d-block">
                                    <img src="assets/img/products/products6.jpg" alt="products-image">
                                </a>
                                <ul class="products-button">
                                    <li>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#productsQuickView">
                                            <i class="fas fa-search-plus"></i>
                                            <span class="tooltip-label">Quick View</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="/compare">
                                            <i class="fas fa-exchange-alt"></i>
                                            <span class="tooltip-label">Compare</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="/wishlist">
                                            <i class="far fa-heart"></i>
                                            <span class="tooltip-label">Add to Wishlist</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="content">
                                <h3><a routerLink="/products-details">Pullover ecosmart hooded</a></h3>
                                <a routerLink="/cart" class="add-to-cart-btn">Add to cart <i class="fas fa-cart-plus"></i></a>
                                <div class="price">
                                    <span class="old-price">$521.00</span>
                                    <span class="new-price">$399.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="pagination-area">
                            <div class="nav-links">
                                <a routerLink="/shop-right-sidebar-2" class="previous page-numbers" title="Next Page"><i class="fas fa-arrow-left"></i></a>
                                <span class="page-numbers current">1</span>
                                <a routerLink="/shop-right-sidebar-2" class="page-numbers">2</a>
                                <a routerLink="/shop-right-sidebar-2" class="page-numbers">3</a>
                                <a routerLink="/shop-right-sidebar-2" class="page-numbers">4</a>
                                <a routerLink="/shop-right-sidebar-2" class="next page-numbers" title="Next Page"><i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <aside class="widget-area right-sidebar">
                    <div class="widget widget_search">
                        <form class="search-form">
                            <input type="search" class="search-field" placeholder="Search...">
                            <button type="submit"><i class="fas fa-search"></i></button>
                        </form>
                    </div>
                    <div class="widget widget_categories">
                        <h3 class="widget-title"><span>Categories</span></h3>
                        <ul>
                            <li><a routerLink="/shop-right-sidebar-2">Accessories</a></li>
                            <li><a routerLink="/shop-right-sidebar-2">Men</a></li>
                            <li><a routerLink="/shop-right-sidebar-2">Women</a></li>
                            <li><a routerLink="/shop-right-sidebar-2">Shoe</a></li>
                            <li><a routerLink="/shop-right-sidebar-2">Bag</a></li>
                            <li><a routerLink="/shop-right-sidebar-2">Denim</a></li>
                        </ul>
                    </div>
                    <div class="widget widget_colors">
                        <h3 class="widget-title"><span>Filter By Color</span></h3>
                        <ul>
                            <li>
                                <a routerLink="/shop-right-sidebar-2">
                                    <span class="gray">Gray</span>
                                    <span>Gray</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/shop-right-sidebar-2">
                                    <span class="green">Green</span>
                                    <span>Green</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/shop-right-sidebar-2">
                                    <span class="red">Red</span>
                                    <span>Red</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/shop-right-sidebar-2">
                                    <span class="black">Black</span>
                                    <span>Black</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/shop-right-sidebar-2">
                                    <span class="brown">Brown</span>
                                    <span>Brown</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="widget widget_price_filter">
                        <h3 class="widget-title"><span>Filter by Price</span></h3>
                        <div class="collection_filter_by_price">
                            <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>
                        </div>
                    </div>
                    <div class="widget widget_vaxim_posts_thumb">
                        <h3 class="widget-title"><span>Our Best Sellers</span></h3>
                        <article class="item">
                            <a routerLink="/products-details" class="thumb">
                                <img src="assets/img/products/products1.jpg" alt="blog-image">
                            </a>
                            <div class="info">
                                <h4 class="title"><a routerLink="/products-details">Cheeky woman leather jacket</a></h4>
                                <div class="star-rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <span class="price">$150.00</span>
                            </div>
                        </article>
                        <article class="item">
                            <a routerLink="/products-details" class="thumb">
                                <img src="assets/img/products/products2.jpg" alt="blog-image">
                            </a>
                            <div class="info">
                                <h4 class="title"><a routerLink="/products-details">Comfort man black hoodie</a></h4>
                                <div class="star-rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <span class="price">$150.00</span>
                            </div>
                        </article>
                        <article class="item">
                            <a routerLink="/products-details" class="thumb">
                                <img src="assets/img/products/products3.jpg" alt="blog-image">
                            </a>
                            <div class="info">
                                <h4 class="title"><a routerLink="/products-details">Trendy woman black blazer</a></h4>
                                <div class="star-rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <span class="price">$150.00</span>
                            </div>
                        </article>
                        <article class="item">
                            <a routerLink="/products-details" class="thumb">
                                <img src="assets/img/products/products4.jpg" alt="blog-image">
                            </a>
                            <div class="info">
                                <h4 class="title"><a routerLink="/products-details">Arctix womens essential</a></h4>
                                <div class="star-rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <span class="price">$150.00</span>
                            </div>
                        </article>
                    </div>
                    <div class="widget widget_follow_us">
                        <h3 class="widget-title"><span>Follow Us</span></h3>
                        <ul>
                            <li><a href="#" target="_blank">Facebook</a></li>
                            <li><a href="#" target="_blank">Twitter</a></li>
                            <li><a href="#" target="_blank">Instagram</a></li>
                            <li><a href="#" target="_blank">Pinterest</a></li>
                            <li><a href="#" target="_blank">Linkedin</a></li>
                        </ul>
                    </div>
                    <div class="widget widget_tag_cloud">
                        <h3 class="widget-title"><span>Tags</span></h3>
                        <div class="tagcloud">
                            <a routerLink="/shop-right-sidebar-2">Advertisment</a>
                            <a routerLink="/shop-right-sidebar-2">Business</a>
                            <a routerLink="/shop-right-sidebar-2">Life</a>
                            <a routerLink="/shop-right-sidebar-2">Lifestyle</a>
                            <a routerLink="/shop-right-sidebar-2">Fashion</a>
                            <a routerLink="/shop-right-sidebar-2">Ads</a>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>

<app-subscribe></app-subscribe>