<div
    class="summer-overview-area pb-70"
    [ngClass]="{'d-none': router.url === '/index-7' || router.url === '/index-8'}"
>
    <div class="container">
        <div class="summer-overview-inner-card" style="background-image: url(assets/img/home-six/summer-overview.jpg);">
            <div class="content">
                <span><b>30%</b> Discount On All Products</span>
                <h3>Summer Sale Collection</h3>
                <a routerLink="/shop-full-width-1" class="default-btn-with-border-radius">Shop Now</a>
            </div>
        </div>
    </div>
</div>

<!-- This section for Home Demo - 7 -->
<div
    class="electronic-overview-area d-none"
    [ngClass]="{'d-block': router.url === '/index-7'}"
>
    <div class="container">
        <div class="electronic-overview-inner-box ptb-100" style="background-image: url(assets/img/home-seven/overview-bg.jpg);">
            <div class="overview-content">
                <h3>15% Discount For Your First Purchase</h3>
                <a routerLink="/shop-full-width-1" class="default-btn-with-border-radius">Shop Now</a>
            </div>
        </div>
    </div>
</div>

<!-- This section for Home Demo - 8 -->
<div
    class="black-friday-offer-area ptb-100 d-none"
    [ngClass]="{'d-block': router.url === '/index-8'}"
>
    <div class="container">
        <div class="black-friday-offer-content">
            <div class="content">
                <div class="logo">
                    <a routerLink="/">
                        <img class="logo" src="assets/img/logo.png" alt="logo">
                    </a>
                </div>
                <span>Black friday Offer</span>
                <h3>All Type of Grocery Product Flat 50% Off</h3>
                <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae donec velit neque auctor sit amet aliquam vel ullamcorper sit amet ligula nulla porttitor accumsan tincidunt.</p>
                <a routerLink="/" class="default-btn-with-border-radius">Shop Now</a>
            </div>
            <div class="icon1">
                <img src="assets/img/home-eight/black-friday/icon1.svg" alt="icon">
            </div>
            <div class="icon2">
                <img src="assets/img/home-eight/black-friday/icon2.svg" alt="icon">
            </div>
            <div class="icon3">
                <img src="assets/img/home-eight/black-friday/icon3.svg" alt="icon">
            </div>
            <div class="shape-wrap">
                <img src="assets/img/home-eight/black-friday/shape.png" alt="image">
            </div>
        </div>
    </div>
    <div class="black-friday-offer-logo-image">
        <img src="assets/img/home-eight/black-friday/dravo.png" alt="image">
    </div>
    <div class="black-friday-offer-image">
        <img src="assets/img/home-eight/black-friday/black-friday.png" alt="image">
    </div>
    <div class="black-friday-offer-shape-1">
        <img src="assets/img/home-eight/black-friday/shape1.png" alt="image">
    </div>
    <div class="black-friday-offer-shape-2">
        <img src="assets/img/home-eight/black-friday/shape2.png" alt="image">
    </div>
</div>