<div class="collection-area pb-100">
    <div class="container">
        <div class="row m-0">
            <div class="col-lg-6 col-md-12 p-0">
                <div class="collection-image" *ngFor="let Content of bgImage;" style="background-image: url({{Content.img}});">
                    <img src="assets/img/collection/collection6.jpg" alt="collection-image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 p-0">
                <div class="collection-content">
                    <h2 class="d-flex align-items-center">SUMMER SALE <span>50%</span> OFF</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam sed do eiusmod.</p>
                    <a routerLink="/shop-left-sidebar-2" class="default-btn"><i class="fas fa-store"></i> SHOP NOW</a>
                </div>
            </div>
        </div>
    </div>
</div>