<div class="special-deals-area pb-70">
    <div class="container">
        <div class="section-heading-title">
            <h2>Special Deals</h2>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-3 col-sm-6" *ngFor="let product of listProducts">
                <div class="special-deals-card">
                    <div class="deals-image">
                        <a routerLink="/products-details">
                            <img [src]="env + product.img" alt="image">
                        </a>
                        <ul class="products-action-list">
                            <li>
                                <a routerLink="/products-details">
                                    <i class="fas fa-search-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/cart">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/wishlist">
                                    <i class="far fa-heart"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="new">Hot</div>
                    </div>
                    <div class="deals-content">
                        <h3>
                            <a routerLink="/products-details">{{product.name}}</a>
                        </h3>
                        <div class="price">
                            <span class="new-price">{{product.priceOutput | vnd}}</span>
                            <span class="old-price">{{product.priceInput | vnd}}</span>
                        </div>
                        <ul class="rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>