<div class="electronic-banner-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-12">
                <div class="electronic-banner-content">
                    <span>WELCOME TO VAXIM</span>
                    <h1>New Products Arrival!</h1>
                    <p>Weekend Discount - Up To 50% Off</p>
                    <ul class="banner-btn">
                        <li>
                            <a routerLink="/shop-full-width-1" class="default-btn-with-border-radius">Shop Now</a>
                        </li>
                        <li>    
                            <a routerLink="/contact" class="default-btn-with-border-radius white-color">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="electronic-banner-image">
                    <img src="assets/img/home-seven/banner/banner1.png" class="rounded-circle" alt="image">
                    <div class="price">
                        <span>Price</span> $79.00
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>