<div class="retail-banner-area">
    <div class="container-fluid">
        <div class="retail-home-slides">
            <owl-carousel-o [options]="retailHomeSlides">
                <ng-template carouselSlide *ngFor="let item of listBanner">
                    <div class="retail-banner-item" [ngStyle]="{'background-image':'url('+showImage(item.bannerImg)+')'}">
                        <div class="content">
                            <div [innerHTML]="item.introduceBannerHtml">
                            </div>
                            <ul class="banner-btn">
                                <li>
                                    <a routerLink="/{{item.slug}}" class="default-btn-with-border-radius">Mua ngay</a>
                                </li>
                                <li>    
                                    <a routerLink="/contact" class="default-btn-with-border-radius white-color">Liên hệ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>