.products-area {
    overflow: hidden;
}
.single-products-box {
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;

    .sale {
        background-color: #06bec7;
        color: var(--whiteColor);
        position: absolute;
        padding: 3px 15px;
        left: 0;
        top: 0;
        font: {
            size: 14px;
            weight: 600;
        };
    }
    .out-of-stock {
        background-color: var(--mainColor);
        color: var(--whiteColor);
        position: absolute;
        padding: 3px 15px;
        left: 0;
        top: 0;
        font: {
            size: 14px;
            weight: 600;
        };
    }
    .hot {
        background-color: green;
        color: var(--whiteColor);
        position: absolute;
        padding: 3px 15px;
        right: 0;
        top: 0;
        font: {
            size: 14px;
            weight: 600;
        };
    }
    img {
        transition: var(--transition);
    }
    .products-button {
        padding-left: 0;
        margin-bottom: 0;
        list-style-type: none;
        position: absolute;
        right: 20px;
        top: 40px;

        li {
            opacity: 0;
            visibility: hidden;
            margin-bottom: 8px;
            transform: translateX(30px);
            transition: all 0.3s ease-in-out 0s;

            a, button {
                border: 0;
                padding: 0;
                width: 40px;
                height: 40px;
                font-size: 18px;
                line-height: 42px;
                text-align: center;
                position: relative;
                display: inline-block;
                color: var(--whiteColor);
                transition: var(--transition);
                background-color: var(--blackColor);

                &:hover {
                    color: var(--whiteColor);
                    background-color: var(--mainColor);
                }
                .tooltip-label {
                    top: 45%;
                    opacity: 0;
                    right: 110%;
                    padding: 0 10px;
                    font-size: 13px;
                    line-height: 28px;
                    position: absolute;
                    visibility: hidden;
                    color: transparent;
                    white-space: nowrap;
                    letter-spacing: .3px;
                    color: var(--whiteColor);
                    background-color: transparent;
                    transition: all .2s ease-in-out;
                    background-color: var(--blackColor);
                    transform: translateX(0) translateY(-45%);

                    &::before {
                        top: 50%;
                        right: -7px;
                        content: "\f0da";
                        position: absolute;
                        text-rendering: auto;
                        color: var(--blackColor);
                        transform: translateY(-50%);
                        transition: all .2s ease-in-out;
                        -webkit-font-smoothing: antialiased;
                        font: {
                            family: "Font Awesome 5 Free";
                            variant: normal;
                            weight: 900;
                            size: 20px;
                        };
                    }
                }
                &:hover {
                    .tooltip-label {
                        visibility: visible;
                        right: 130%;
                        opacity: 1;
                    }
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
            &:nth-child(1) {
                transition-delay: 0.1s;
            }
            &:nth-child(2) {
                transition-delay: 0.2s;
            }
            &:nth-child(3) {
                transition-delay: 0.3s;
            }
        }
    }
    .content {
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        padding: 20px 100px 20px 20px;
        background-color: rgba(255, 255, 255, .97);

        h3 {
            font-size: 20px;
            margin-bottom: 0;
        }
        .add-to-cart-btn {
            border: 0;
            padding: 0;
            margin-top: 10px;
            font-weight: 500;
            position: relative;
            padding-right: 32px;
            display: inline-block;
            color: var(--optionalColor);
            background-color: transparent;

            i {
                right: 0;
                top: 50%;
                width: 25px;
                height: 25px;
                font-size: 12px;
                position: absolute;
                transform: translateY(-50%);
                background-color: #f2f2f2;
                transition: var(--transition);
                color: var(--optionalColor);
                text-align: center;
                border-radius: 50%;
                line-height: 25px;
            }
            &:hover {
                color: var(--mainColor);

                i {
                    background-color: var(--mainColor);
                    color: var(--whiteColor);
                }
            }
        }
        .price {
            top: 21px;
            right: 20px;
            position: absolute;

            span {
                display: block;
                font-weight: 500;
                text-align: center;
                color: var(--optionalColor);

                &.old-price {
                    margin-bottom: 2px;
                    color: var(--mainColor);
                    text-decoration: line-through;
                }
            }
        }
    }
    &:hover {
        img {
            transform: scale(1.08);
        }
        .products-button {
            li {
                transform: translateX(0);
                visibility: visible;
                opacity: 1;
            }
        }
    }
}
.single-products-item {
    margin-bottom: 30px;
    position: relative;

    .image {
        overflow: hidden;

        .sale {
            background-color: #06bec7;
            color: var(--whiteColor);
            position: absolute;
            padding: 3px 15px;
            left: 0;
            top: 0;
            font: {
                size: 14px;
                weight: 600;
            };
        }
        .out-of-stock {
            background-color: var(--mainColor);
            color: var(--whiteColor);
            position: absolute;
            padding: 3px 15px;
            left: 0;
            top: 0;
            font: {
                size: 14px;
                weight: 600;
            };
        }
        .hot {
            background-color: green;
            color: var(--whiteColor);
            position: absolute;
            padding: 3px 15px;
            right: 0;
            top: 0;
            font: {
                size: 14px;
                weight: 600;
            };
        }
        img {
            transition: var(--transition);
        }
        .products-button {
            padding-left: 0;
            margin-bottom: 0;
            list-style-type: none;
            position: absolute;
            right: 20px;
            top: 40px;
    
            li {
                opacity: 0;
                visibility: hidden;
                margin-bottom: 8px;
                transform: translateX(30px);
                transition: all 0.3s ease-in-out 0s;
    
                a, button {
                    border: 0;
                    padding: 0;
                    width: 40px;
                    height: 40px;
                    font-size: 18px;
                    line-height: 42px;
                    text-align: center;
                    position: relative;
                    display: inline-block;
                    color: var(--whiteColor);
                    background-color: var(--blackColor);
    
                    &:hover {
                        color: var(--whiteColor);
                        background-color: var(--mainColor);
                    }
                    .tooltip-label {
                        top: 45%;
                        opacity: 0;
                        right: 110%;
                        padding: 0 10px;
                        font-size: 13px;
                        line-height: 28px;
                        position: absolute;
                        visibility: hidden;
                        color: transparent;
                        white-space: nowrap;
                        letter-spacing: .3px;
                        color: var(--whiteColor);
                        background-color: transparent;
                        transition: all .2s ease-in-out;
                        background-color: var(--blackColor);
                        transform: translateX(0) translateY(-45%);
    
                        &::before {
                            top: 50%;
                            right: -7px;
                            content: "\f0da";
                            position: absolute;
                            text-rendering: auto;
                            color: var(--blackColor);
                            transform: translateY(-50%);
                            transition: all .2s ease-in-out;
                            -webkit-font-smoothing: antialiased;
                            font: {
                                family: "Font Awesome 5 Free";
                                variant: normal;
                                weight: 900;
                                size: 20px;
                            };
                        }
                    }
                    &:hover {
                        .tooltip-label {
                            visibility: visible;
                            right: 130%;
                            opacity: 1;
                        }
                    }
                }
                &:last-child {
                    margin-bottom: 0;
                }
                &:nth-child(1) {
                    transition-delay: 0.1s;
                }
                &:nth-child(2) {
                    transition-delay: 0.2s;
                }
                &:nth-child(3) {
                    transition-delay: 0.3s;
                }
            }
        }
    }
    .content {
        padding-right: 80px;
        position: relative;
        margin-top: 25px;

        h3 {
            font-size: 20px;
            margin-bottom: 0;
        }
        .add-to-cart-btn {
            border: 0;
            padding: 0;
            margin-top: 12px;
            font-weight: 500;
            position: relative;
            padding-right: 32px;
            display: inline-block;
            color: var(--optionalColor);
            background-color: transparent;

            i {
                right: 0;
                top: 50%;
                width: 25px;
                height: 25px;
                font-size: 12px;
                position: absolute;
                transform: translateY(-50%);
                background-color: #f2f2f2;
                transition: var(--transition);
                color: var(--optionalColor);
                text-align: center;
                border-radius: 50%;
                line-height: 25px;
            }
            &:hover {
                color: var(--mainColor);

                i {
                    background-color: var(--mainColor);
                    color: var(--whiteColor);
                }
            }
        }
        .price {
            top: 3px;
            right: 0;
            position: absolute;

            span {
                display: block;
                font-weight: 500;
                text-align: center;
                color: var(--optionalColor);

                &.old-price {
                    margin-bottom: 2px;
                    color: var(--mainColor);
                    text-decoration: line-through;
                }
            }
        }
    }
    &:hover {
        .image {
            img {
                transform: scale(1.08);
            }
            .products-button {
                li {
                    transform: translateX(0);
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
}
.view-all-btn {
    text-align: center;
    margin-top: 30px;
}
.products-image {
    height: 100%;
    background: {
        position: center center;
        repeat: no-repeat;
        size: cover;
    };
    img {
        display: none;
    }
}
.products-content {
    h2 {
        margin-bottom: 12px;
        font-size: 36px;
    }
    p {
        max-width: 540px;
    }
    .link-btn {
        display: inline-block;
        position: relative;
        padding-left: 25px;
        line-height: 1.2;
        font: {
            size: var(--fontSize);
            weight: 500;
        };
        i {
            position: absolute;
            top: 2px;
            left: 0;
        }
        &::before {
            right: 0;
            bottom: 0;
            width: 90%;
            content: '';
            height: 1px;
            position: absolute;
            background-color: var(--blackColor);
        }
    }
}
.products-list {
    background-color: var(--whiteColor);
    padding: 30px 30px 0;
    margin: {
        top: 30px;
        left: -250px;
        bottom: 30px;
    };
}
.vaxim-grid-sorting {
    margin-bottom: 30px;

    .result-count {
        p {
            .count {
                font-weight: 600;
                color: var(--blackColor);
            }
        }
    }
    .ordering {
        text-align: end;

        label {
            margin-bottom: 0;
            display: inline-block;
            color: var(--optionalColor);
            margin-right: 5px;
        }
        select {
            width: 215px;
            cursor: pointer;
            background: #f8f8f8;
            display: inline-block;
            border-color: #eeeeee;
            color: var(--blackColor);
            transition: var(--transition);
            padding: 0 0 0 5px;
            line-height: 45px;
            height: 45px;
            font: {
                size: var(--fontSize);
                weight: 500;
            };
            &:hover {
                border-color: var(--mainColor);
                background-color: transparent;
            }
        }
    }
}
.sidebar-filter {
    font-weight: 600;
    margin-right: 15px;
    position: relative;
    border-right: 1.5px solid #eeeeee;
    padding: {
        left: 25px;
        right: 15px;
    };
    i {
        left: 0;
        top: 3px;
        position: absolute;
    }
}
.widget-area {
    padding-right: 15px;

    &.right-sidebar {
        padding: {
            left: 15px;
            right: 0;
        };
    }
}
.d-none {
    &.d-block {
        display: block !important;
    }
}
.grocery-products-area {
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.grocery-products-card {
    margin-bottom: 30px;
    transition: var(--transition);
    padding: 25px;
    border: 1px solid #E5E5E5;
    border-radius: 15px;
    position: relative;
    background-color: var(--whiteColor);

    .grocery-image {
        position: relative;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;

        img {
            border-radius: 15px;
        }
        .products-action-list {
            padding-left: 0;
            margin-bottom: 0;
            list-style-type: none;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            display: inline-flex;
            justify-content: center;
            opacity: 0;
            visibility: hidden;
            transition: var(--transition);

            li {
                list-style-type: none;
                display: inline-block;

                a {
                    width: 58px;
                    height: 50px;
                    font-size: 18px;
                    line-height: 50px;
                    text-align: center;
                    position: relative;
                    display: inline-block;
                    color: var(--whiteColor);
                    background-color: var(--groceryColor);
                    border-right: 1px solid #90ba54;
    
                    &:hover {
                        color: var(--whiteColor);
                        background-color: var(--blackColor);
                    }
                }
                &:nth-child(1) {
                    a {
                        border-radius: 8px 0 0 8px;
                    }
                }
                &:nth-child(3) {
                    a {
                        border-radius: 0 8px 8px 0;
                        border-right: none;
                    }
                }
            }
        }
    }
    .grocery-content {
        margin-top: 25px;
        b {
            font-size: 14px;
            color: var(--optionalColor);
            display: block;
            margin-bottom: 12px;
            font-weight: 400;
        }
        h3 {
            font-size: 20px;
            margin-bottom: 0;

            a {
                color: var(--blackColor);

                &:hover {
                    color: var(--groceryColor);
                }
            }
        }
        .price {
            margin: {
                top: 12px;
                bottom: 12px;
            };
            .new-price {
                font-size: 15px;
                color: var(--groceryColor);
                font-weight: bold;
            }
            .old-price {
                font-size: 14px;
                color: var(--optionalColor);
                font-weight: 400;
                text-decoration-line: line-through;
            }
        }
        .rating {
            padding: 0;
            margin-bottom: 0;

            li {
                list-style-type: none;
                display: inline-block;
                margin-right: 2px;

                &:last-child {
                    margin-right: 0;
                }
                i {
                    color: #FFB800;
                    font-size: 14px;
                }
            }
        }
    }
    .sale {
        position: absolute;
        left: 10px;
        top: 10px;
        display: inline-block;
        font-size: 14px;
        color: var(--whiteColor);
        background-color: var(--groceryColor);
        padding: 5px 15px;
        transition: var(--transition);
        border-radius: 50px;
        font-weight: 500;

        &:hover {
            background-color: var(--blackColor);
        }
    }
    .new {
        position: absolute;
        left: 10px;
        top: 10px;
        display: inline-block;
        font-size: 14px;
        color: var(--whiteColor);
        background-color: #FFB800;
        padding: 5px 15px;
        transition: var(--transition);
        border-radius: 50px;
        font-weight: 500;

        &:hover {
            background-color: var(--groceryColor);
        }
    }
    &:hover {
        border: 1px solid var(--groceryColor);

        .grocery-image {
            .products-action-list {
                opacity: 1;
                visibility: visible;
                bottom: 5px;
            }
        }
    }
}
.grocery-products-shape-1 {
    position: absolute;
    bottom: 2%;
    left: 2%;
    transform: translateY(-2%) translateX(-2%);
    z-index: -1;
}
.grocery-products-shape-2 {
    position: absolute;
    top: 18%;
    right: 0;
    transform: translateY(-18%);
    z-index: -1;
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
    
    .single-products-box {
        .sale {
            padding: 3px 10px;
            font-size: 12px;
        }
        .hot {
            padding: 3px 10px;
            font-size: 12px;
        }
        .out-of-stock {
            padding: 3px 10px;
            font-size: 12px;
        }
        img {
            transform: unset !important;
        }
        .products-button {
            right: 15px;
            top: 40px;

            li {
                opacity: 1;
                transform: unset;
                visibility: visible;

                a, button {
                    width: 30px;
                    height: 30px;
                    font-size: 14px;
                    line-height: 32px;

                    .tooltip-label {
                        font-size: 12px;
                        line-height: 25px;
                    }
                }
            }
        }
        .content {
            padding: 20px 0 0;
            position: relative;
            background-color: transparent;

            h3 {
                font-size: 17px;
            }
            .add-to-cart-btn {
                margin-top: 12px;
            }
            .price {
                top: 0;
                right: 0;
                margin-top: 12px;
                position: relative;

                span {
                    display: inline-block;
                    text-align: start;

                    &.old-price {
                        margin: {
                            bottom: 0;
                            right: 5px;
                        };
                    }
                }
            }
        }
    }
    .single-products-item {
        .image {
            .sale {
                padding: 3px 10px;
                font-size: 12px;
            }
            .hot {
                padding: 3px 10px;
                font-size: 12px;
            }
            .out-of-stock {
                padding: 3px 10px;
                font-size: 12px;
            }
            .products-button {
                right: 15px;
                top: 40px;
    
                li {
                    opacity: 1;
                    transform: unset;
                    visibility: visible;
    
                    a, button {
                        width: 30px;
                        height: 30px;
                        font-size: 14px;
                        line-height: 32px;
    
                        .tooltip-label {
                            font-size: 12px;
                            line-height: 25px;
                        }
                    }
                }
            }
        }
        .content {
            padding-right: 0;
            margin-top: 20px;

            h3 {
                font-size: 17px;
            }
            .add-to-cart-btn {
                margin-top: 12px;
            }
            .price {
                top: 0;
                right: 0;
                margin-top: 12px;
                position: relative;

                span {
                    display: inline-block;
                    text-align: start;

                    &.old-price {
                        margin: {
                            bottom: 0;
                            right: 5px;
                        };
                    }
                }
            }
        }
    }
    .view-all-btn {
        margin-top: 25px;

        &.style-two {
            margin-top: 0;
        }
    }
    .products-image {
        height: auto;
        text-align: center;
        margin-bottom: 30px;
        background-image: unset !important;

        img {
            display: inline-block !important;
        }
    }
    .products-content {
        h2 {
            font-size: 24px;
        }
        p {
            max-width: 100%;
        }
        .link-btn {
            font-size: 13.5px;

            &::before {
                width: 88%;
            }
        }
    }
    .products-list {
        padding: 0;
        margin: {
            left: 0;
            top: 25px;
            bottom: 0;
        };
    }
    .vaxim-grid-sorting {
        margin-bottom: 30px;
        text-align: center;

        .result-count {
            .d-flex {
                justify-content: center;
            }
        }
        .ordering {
            text-align: center;
            margin-top: 15px;
        }
    }
    .sidebar-filter {
        margin-right: 10px;
        padding: {
            left: 20px;
            right: 10px;
        };
    }
    .widget-area {
        padding-right: 0;
        margin-bottom: 30px;

        &.right-sidebar {
            padding-left: 0;
            margin: {
                bottom: 0;
                top: 30px;
            };
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    
    .single-products-box {
        .sale {
            font-size: 13px;
        }
        .hot {
            font-size: 13px;
        }
        .out-of-stock {
            font-size: 13px;
        }
        .products-button {
            right: 15px;
            top: 40px;

            li {
                opacity: 1;
                transform: unset;
                visibility: visible;

                a, button {
                    width: 30px;
                    height: 30px;
                    font-size: 14px;
                    line-height: 32px;

                    .tooltip-label {
                        font-size: 12px;
                        line-height: 25px;
                    }
                }
            }
        }
        .content {
            padding: 20px;

            h3 {
                font-size: 18px;
            }
            .add-to-cart-btn {
                margin-top: 12px;
            }
            .price {
                right: 0;
                top: auto;
                margin-top: 12px;
                position: relative;

                span {
                    text-align: start;
                    display: inline-block;

                    &.old-price {
                        margin: {
                            bottom: 0;
                            right: 5px;
                        };
                    }
                }
            }
        }
    }
    .single-products-item {
        .image {
            .sale {
                font-size: 13px;
            }
            .hot {
                font-size: 13px;
            }
            .out-of-stock {
                font-size: 13px;
            }
            .products-button {
                right: 15px;
                top: 40px;
    
                li {
                    opacity: 1;
                    transform: unset;
                    visibility: visible;
    
                    a, button {
                        width: 30px;
                        height: 30px;
                        font-size: 14px;
                        line-height: 32px;
    
                        .tooltip-label {
                            font-size: 12px;
                            line-height: 25px;
                        }
                    }
                }
            }
        }
        .content {
            padding-right: 0;
            margin-top: 20px;

            h3 {
                font-size: 18px;
            }
            .add-to-cart-btn {
                margin-top: 12px;
            }
            .price {
                right: 0;
                top: auto;
                margin-top: 12px;
                position: relative;

                span {
                    text-align: start;
                    display: inline-block;

                    &.old-price {
                        margin: {
                            bottom: 0;
                            right: 5px;
                        };
                    }
                }
            }
        }
    }
    .products-image {
        height: auto;
        margin-bottom: 30px;
        background-image: unset !important;

        img {
            display: inline-block !important;
        }
    }
    .products-list {
        padding: 0;
        margin: {
            left: 0;
            bottom: 0;
            top: 25px;
        };
    }
    .products-content {
        h2 {
            font-size: 28px;
        }
        .link-btn {
            font-size: 14.5px;

            &::before {
                width: 89%;
            }
        }
    }
    .sidebar-filter {
        margin-right: 10px;
        padding-right: 10px;
    }
    .widget-area {
        padding-right: 0;
        margin-bottom: 30px;

        &.right-sidebar {
            padding-left: 0;
            margin: {
                top: 30px;
                bottom: 0;
            };
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    
    .single-products-box {
        .sale {
            font-size: 13px;
        }
        .hot {
            font-size: 13px;
        }
        .out-of-stock {
            font-size: 13px;
        }
        .products-button {
            right: 15px;
            top: 40px;

            li {
                a, button {
                    width: 30px;
                    height: 30px;
                    font-size: 14px;
                    line-height: 32px;

                    .tooltip-label {
                        font-size: 12px;
                        line-height: 25px;
                    }
                }
            }
        }
        .content {
            padding: 17px;

            .add-to-cart-btn {
                margin-top: 12px;
            }
            h3 {
                font-size: 19px;
            }
            .price {
                top: 0;
                right: 0;
                margin-top: 12px;
                position: relative;

                span {
                    text-align: start;
                    display: inline-block;

                    &.old-price {
                        margin: {
                            bottom: 0;
                            right: 5px;
                        };
                    }
                }
            }
        }
    }
    .single-products-item {
        .image {
            .sale {
                font-size: 13px;
            }
            .hot {
                font-size: 13px;
            }
            .out-of-stock {
                font-size: 13px;
            }
            .products-button {
                right: 15px;
                top: 40px;
    
                li {
                    a, button {
                        width: 30px;
                        height: 30px;
                        font-size: 14px;
                        line-height: 32px;
    
                        .tooltip-label {
                            font-size: 12px;
                            line-height: 25px;
                        }
                    }
                }
            }
        }
        .content {
            padding-right: 0;

            .add-to-cart-btn {
                margin-top: 12px;
            }
            h3 {
                font-size: 19px;
            }
            .price {
                top: 0;
                right: 0;
                margin-top: 12px;
                position: relative;

                span {
                    text-align: start;
                    display: inline-block;

                    &.old-price {
                        margin: {
                            bottom: 0;
                            right: 5px;
                        };
                    }
                }
            }
        }
    }
    .widget-area {
        padding-right: 0;

        &.right-sidebar {
            padding-left: 0;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}