<!-- Page Title -->
<div class="page-title-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-7">
                <h2>Giới thiệu về King Yến Mạch</h2>
            </div>
            <div class="col-lg-6 col-md-5">
                <ul class="page-title-content">
                    <li><a routerLink="/">Trang chủ</a></li>
                    <li>Giới thiệu</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- About -->
<div class="about-area pt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12">
                <div class="about-content">
                    <h2><strong>King Yến Mạch</strong></h2>
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="about-text">
                    <p><strong>Với đội ngũ nhân viên chuyên nghiệp, hơn 05 năm kinh nghiệm trong lĩnh vực yến mạch, chúng tôi đặt tôn chỉ an toàn thực phẩm lên hàng đầu, chú trọng vào việc lắng nghe tâm tư của khách hàng.</strong></p>
                    <p>Chúng tôi tin tưởng vào sự nổ lực của tất cả nhân viên và mong muốn góp phần làm cho cuộc sống của bạn trở nên tốt đẹp hơn bằng việc tạo ra sản phẩm dinh dưỡng và healthy từ cốt lõi. Cảm ơn bạn đã lựa chọn chúng tôi.</p>
                    <p>Chúng tôi biết quý khách có nhiều sự lựa chọn, một lần nữa cảm ơn bạn vì đã lựa chọn chúng tôi.</p>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="about-image">
                    <img src="assets/img/about.jpg" alt="about-image">
                </div>
            </div>
        </div>
        <app-funfacts></app-funfacts>
    </div>
</div>

<app-team></app-team>

<div class="facility-area pb-100">
    <app-facility></app-facility>
</div>

<app-feedback></app-feedback>

<div class="partner-area ptb-100" *ngIf="false">
    <app-partner></app-partner>
</div>

<app-subscribe *ngIf="false"></app-subscribe>