<div
    class="container"
    [ngClass]="{'d-none': router.url === '/index-6' || router.url === '/index-7'}"
>
    <div class="row align-items-center">
        <div class="col-lg-3 col-md-12">
            <div class="partner-title">
                <h4>Our Trusted Branding Partners</h4>
            </div>
        </div>
        <div class="col-lg-9 col-md-12">
            <div class="partners-list align-items-center">
                <div class="partner-item">
                    <a routerLink="/shop-full-width-1" class="d-inline-block">
                        <img src="assets/img/partner/partner1.png" alt="partner">
                    </a>
                </div>
                <div class="partner-item">
                    <a routerLink="/shop-full-width-1" class="d-inline-block">
                        <img src="assets/img/partner/partner2.png" alt="partner">
                    </a>
                </div>
                <div class="partner-item">
                    <a routerLink="/shop-full-width-1" class="d-inline-block">
                        <img src="assets/img/partner/partner3.png" alt="partner">
                    </a>
                </div>
                <div class="partner-item">
                    <a routerLink="/shop-full-width-1" class="d-inline-block">
                        <img src="assets/img/partner/partner4.png" alt="partner">
                    </a>
                </div>
                <div class="partner-item">
                    <a routerLink="/shop-full-width-1" class="d-inline-block">
                        <img src="assets/img/partner/partner5.png" alt="partner">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- This section for Home Demo - 6 -->
<div
    class="partner-wrap-area d-none"
    [ngClass]="{'d-block': router.url === '/index-6'}"
>
    <div class="container">
        <div class="partner-wrap-inner-box pt-100 pb-70">
            <div class="section-heading-title">
                <h2>Our Trusted Branding Partners</h2>
            </div>
            <div class="partner-wrap-slides">
                <owl-carousel-o [options]="partnerSlides">
                    <ng-template carouselSlide>
                        <div class="partner-card">
                            <a href="#" class="d-inline-block" target="_blank">
                                <img src="assets/img/home-six/partner/partner1.png" alt="partner">
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="partner-card">
                            <a href="#" class="d-inline-block" target="_blank">
                                <img src="assets/img/home-six/partner/partner2.png" alt="partner">
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="partner-card">
                            <a href="#" class="d-inline-block" target="_blank">
                                <img src="assets/img/home-six/partner/partner3.png" alt="partner">
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="partner-card">
                            <a href="#" class="d-inline-block" target="_blank">
                                <img src="assets/img/home-six/partner/partner4.png" alt="partner">
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="partner-card">
                            <a href="#" class="d-inline-block" target="_blank">
                                <img src="assets/img/home-six/partner/partner5.png" alt="partner">
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="partner-card">
                            <a href="#" class="d-inline-block" target="_blank">
                                <img src="assets/img/home-six/partner/partner6.png" alt="partner">
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="partner-card">
                            <a href="#" class="d-inline-block" target="_blank">
                                <img src="assets/img/home-six/partner/partner7.png" alt="partner">
                            </a>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</div>

<!-- This section for Home Demo - 7 -->
<div
    class="partner-wrap-area d-none"
    [ngClass]="{'d-block': router.url === '/index-7'}"
>
    <div class="container">
        <div class="partner-wrap-inner-box with-linear-gradient-color pt-100 pb-70">
            <div class="section-heading-title white-color">
                <h2>Our Trusted Branding Partners</h2>
            </div>
            <div class="partner-wrap-slides">
                <owl-carousel-o [options]="partnerSlides">
                    <ng-template carouselSlide>
                        <div class="partner-card">
                            <a href="#" class="d-inline-block" target="_blank">
                                <img src="assets/img/home-seven/partner/partner1.png" alt="partner">
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="partner-card">
                            <a href="#" class="d-inline-block" target="_blank">
                                <img src="assets/img/home-seven/partner/partner2.png" alt="partner">
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="partner-card">
                            <a href="#" class="d-inline-block" target="_blank">
                                <img src="assets/img/home-seven/partner/partner3.png" alt="partner">
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="partner-card">
                            <a href="#" class="d-inline-block" target="_blank">
                                <img src="assets/img/home-seven/partner/partner4.png" alt="partner">
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="partner-card">
                            <a href="#" class="d-inline-block" target="_blank">
                                <img src="assets/img/home-seven/partner/partner5.png" alt="partner">
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="partner-card">
                            <a href="#" class="d-inline-block" target="_blank">
                                <img src="assets/img/home-seven/partner/partner6.png" alt="partner">
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="partner-card">
                            <a href="#" class="d-inline-block" target="_blank">
                                <img src="assets/img/home-seven/partner/partner7.png" alt="partner">
                            </a>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</div>