<div class="creative-home-area">
    <div class="container-fluid">
        <div class="creative-home-slides">
            <owl-carousel-o [options]="creativeHomeSlides">
                <ng-template carouselSlide>
                    <div class="creative-home-item">
                        <div class="row align-items-center">
                            <div class="col-lg-7 col-md-12">
                                <div class="creative-content">
                                    <span class="sub-title">Think Creative</span>
                                    <h1>TRENDY LUXURY CRAFTS</h1>
                                    <p>Creating smiles and spreading happiness for generations!</p>
                                    <a routerLink="/shop-right-sidebar-1" class="default-btn">
                                        <i class="fas fa-store"></i> SHOP NOW
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-12">
                                <div class="creative-home-image">
                                    <img src="assets/img/more-home/creative-home/home-1.png" alt="banner-image">
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="creative-home-item">
                        <div class="row align-items-center">
                            <div class="col-lg-7 col-md-12">
                                <div class="creative-content">
                                    <span class="sub-title">Think Creative</span>
                                    <h1>CLOTHING MADE FOR YOU!</h1>
                                    <p>Creating smiles and spreading happiness for generations!</p>
                                    <a routerLink="/shop-right-sidebar-1" class="default-btn">
                                        <i class="fas fa-store"></i> SHOP NOW
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-12">
                                <div class="creative-home-image">
                                    <img src="assets/img/more-home/creative-home/home-2.png" alt="banner-image">
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>