<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- content-header component -->
        <app-content-header [contentHeader]="contentHeader"></app-content-header>

        <!-- Kitchen Sink Datatables -->
        <section id="ngx-datatable-kitchen-sink">
            <core-card-snippet [snippetCode]="_snippetCodeKitchenSink">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="d-flex justify-content-between align-items-center m-1">
                            <label class="d-flex align-items-center">Hiển thị
                                <select class="form-control mx-25" [(ngModel)]="basicSelectedOption">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                hàng</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 d-flex justify-content-md-end">
                        <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
                            <label class="d-flex align-items-center"><input type="search" placeholder="Tìm kiếm"
                                    class="form-control ml-25" (keyup)="filterUpdate($event)"
                                    (search)="filterUpdate($event)" /></label>
                        </div>
                    </div>
                </div>
                <ngx-datatable [rows]="listOrders" [rowHeight]="58" class="bootstrap core-bootstrap" [limit]="10"
                    [columnMode]="ColumnMode.force" [headerHeight]="40" [footerHeight]="50" [scrollbarH]="true"
                    [selectionType]="SelectionType.checkbox" [limit]="basicSelectedOption"
                    (activate)="onActivate($event)" (select)="onSelect($event)">
                    <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                        [resizeable]="false">
                        <ng-template ngx-datatable-header-template let-value="value"
                            let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" [checked]="allRowsSelected"
                                    (change)="selectFn(!allRowsSelected)" id="headerChkbxRef" />
                                <label class="custom-control-label" for="headerChkbxRef"></label>
                            </div>
                        </ng-template>
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                            let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" [checked]="isSelected"
                                    (change)="onCheckboxChangeFn($event)" id="rowChkbxRef{{ rowIndex }}" />
                                <label class="custom-control-label" for="rowChkbxRef{{ rowIndex }}"></label>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Chi tiết" [width]="120" [sortable]="false" prop="orderId">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                            let-row="row">
                            <button class="btn btn-info ml-1" rippleEffect #openModal
                            (click)="fViewOrderDetails(row.orderId)">
                            <i [data-feather]="'eye'" title="Bấm để xem chi tiết đơn hàng"
                            class="text-primary cursor-pointer"></i>
                            <span class="d-none d-sm-inline-block" style="margin-left: 10px;">Chi tiết</span>
                            </button>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Tên khách hàng" prop="customerName" [width]="280">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Tổng tiền" prop="totalMoney" [width]="250">
                        <ng-template let-totalMoney="value" ngx-datatable-cell-template>
                            <div class="d-flex align-items-center" style="color:red">
                                {{totalMoney |vnd}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Số loại sản phẩm" prop="quantityProduct" [width]="120">
                        <ng-template let-quantityProduct="value" ngx-datatable-cell-template>
                            <div class="d-flex align-items-center">
                                {{quantityProduct }}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Ngày tạo" prop="createOn" [width]="120">
                        <ng-template let-createOn="value" ngx-datatable-cell-template>
                            <div class="d-flex align-items-center">
                               {{createOn}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </core-card-snippet>
        </section>
        <!--/ Kitchen Sink Datatables -->
    </div>
</div>
<div class="scrolling-content-inside-modal">
    <!-- Modal Show Detail Order-->
<ng-template #modalShowOrderDetails let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="myModalLabel1">Chi tiết đơn hàng </h4>
		<button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<div class="modal-body" tabindex="0" ngbAutofocus>
		<!-- Basic Inputs start -->
		<section id="basic-input">
			<div class="row">
				<div class="col-md-12">
					<core-card-snippet [isShowCodeIcon]="false">
						<h4 class="card-title">
							Chi tiết đơn hàng
						</h4>
						 <ngx-datatable 
						  [rows]="listOrderDetails" 
						  [rowHeight]="58" 
						  class="bootstrap core-bootstrap" 
						  [limit]="10"
						  [columnMode]="ColumnMode.force" 
						  [headerHeight]="40" 
						  [footerHeight]="50" 
						  [scrollbarH]="true"
					      [selectionType]="SelectionType.checkbox" 
						  [limit]="basicSelectedOption"
						  (activate)="onActivate($event)" 
						  (select)="onSelect($event)">
							<ngx-datatable-column name="Tên sản phẩm" prop="productName" [width]="280">
							</ngx-datatable-column>
							<ngx-datatable-column name="Giá" prop="price" [width]="250">
								<ng-template let-price="value" ngx-datatable-cell-template>
									<div class="d-flex align-items-center">
										{{price|vnd }}
									</div>
								</ng-template>
							</ngx-datatable-column>
							<ngx-datatable-column name="Giảm giá" prop="saleOff" [width]="120">
								<ng-template let-saleOff="value" ngx-datatable-cell-template>
									<div class="d-flex align-items-center">
										{{saleOff }}
									</div>
								</ng-template>
							</ngx-datatable-column>
							<ngx-datatable-column name="Số lượng" prop="quantity" [width]="120">
							</ngx-datatable-column>
                            <ngx-datatable-column name="Tổng tiền" prop="totalPrice" [width]="120">
								<ng-template let-totalPrice="value" ngx-datatable-cell-template>
									<div class="d-flex align-items-center">
										{{totalPrice }}
									</div>
								</ng-template>
							</ngx-datatable-column>
						 </ngx-datatable>
						</core-card-snippet>
				</div>
			</div>
		</section>
		<!-- Basic Inputs end -->
	</div>
</ng-template>
<!-- / Modal Show history-->
</div>