@import '@core/scss/angular/libs/datatables.component.scss';

.datatable-scroll {
  width: auto !important;
}
.custom-button {
  width: 100%;
} 
@import "@core/scss/angular/libs/select.component.scss"; 
.datatable-header-cell-wrapper,.datatable-body-cell-label{
  margin: auto !important;
}