.products-details-image {
    overflow: hidden;

    img {
        transition: var(--transition);
    }
    &:hover {
        img {
            transform: scale(1.08);
        }
    }
}
.products-details-desc {
    padding-left: 15px;

    h3 {
        margin-bottom: 17px;
        font-size: 24px;
    }
    .price {
        margin-bottom: 15px;
        font: {
            size: 18px;
            weight: 500;
        };
        .old-price {
            text-decoration: line-through;
            color: #999999;
            font-weight: 400;
        }
    }
    .products-review {
        margin-bottom: 20px;

        .rating {
            display: inline-block;
            padding-right: 5px;

            i {
                color: #ffba0a;
                margin-right: 5px;
                display: inline-block;
            }
        }
        .rating-count {
            display: inline-block;
            line-height: initial;
            font-weight: 500;
        }
    }
    .products-info {
        list-style-type: none;
        padding-left: 0;
        margin: {
            top: 20px;
            bottom: 0;
        };
        li {
            margin-bottom: 8px;

            &:last-child {
                margin-bottom: 0;
            }
            span {
                color: var(--blackColor);
            }
            a {
                display: inline-block;
                color: var(--optionalColor);

                &:hover {
                    color: var(--mainColor);
                }
            }
        }
    }
    .products-add-to-cart {
        margin-top: 25px;

        .input-counter {
            max-width: 130px;
            min-width: 130px;
            margin-right: 15px;
            text-align: center;
            position: relative;    

            span {
                top: 0;
                width: 40px;
                height: 100%;
                font-size: 15px;
                cursor: pointer;
                line-height: 50px;
                position: absolute;
                color: var(--optionalColor);
                background-color: transparent;
                transition: var(--transition);

                &.minus-btn {
                    left: 0;
                    border-right: 1px solid #eeeeee;
                }
                &.plus-btn {
                    right: 0;
                    border-left: 1px solid #eeeeee;
                }
                &:hover {
                    color: var(--mainColor);
                }
            }
            input {
                outline: 0;
                width: 100%;
                height: 47px;
                display: block;
                text-align: center;
                color: var(--blackColor);
                border: 1px solid #eeeeee;
                background-color: var(--whiteColor);
                font: {
                    size: 17px;
                    weight: 600;
                }
                &::placeholder {
                    color: var(--blackColor);
                }
            }
        }
    }
    .add-to-wishlist-btn {
        margin-top: 20px;
        font-weight: 500;
        line-height: 1.2;
        position: relative;
        padding-left: 20px;
        display: inline-block;
        border-bottom: 1px solid var(--blackColor);

        i {
            position: absolute;
            left: 0;
            top: 0;
        }
        &:hover {
            color: var(--mainColor);
            border-color: var(--mainColor);
        }
    }
    .products-share {
        margin-top: 20px;

        .social {
            padding-left: 0;
            margin-bottom: 0;
            list-style-type: none;

            li {
                display: inline-block;

                span {
                    display: inline-block;
                    position: relative;
                    margin-right: 5px;
                    font-weight: 500;
                }
                a {
                    width: 35px;
                    height: 35px;
                    display: block;
                    line-height: 35px;
                    border-radius: 50%;
                    color: var(--whiteColor);
                    background-color: var(--mainColor);
                    border: 1px solid var(--mainColor);
                    text-align: center;
                    margin-left: 5px;
    
                    &:hover {
                        color: var(--mainColor);
                        background-color: transparent;
                    }
                    &.facebook {
                        background-color: #3b5998;
                        color: var(--whiteColor);
                        border-color: #3b5998;

                        &:hover {
                            color: #3b5998;
                            background-color: transparent;
                        }
                    }
                    &.twitter {
                        background-color: #1da1f2;
                        color: var(--whiteColor);
                        border-color: #1da1f2;

                        &:hover {
                            color: #1da1f2;
                            background-color: transparent;
                        }
                    }
                    &.linkedin {
                        background-color: #007bb5;
                        color: var(--whiteColor);
                        border-color: #007bb5;

                        &:hover {
                            color: #007bb5;
                            background-color: transparent;
                        }
                    }
                    &.instagram {
                        background-color: #c13584;
                        color: var(--whiteColor);
                        border-color: #c13584;

                        &:hover {
                            color: #c13584;
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }
}
.products-details-tabs {
    margin-top: 50px;

    ul {
        li {
            color: var(--optionalColor);
            margin-bottom: 12px;

            a {
                color: var(--mainColor);
    
                &:hover {
                    text-decoration: underline;
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    ol {
        li {
            color: var(--optionalColor);
            margin-bottom: 12px;

            a {
                color: var(--mainColor);
    
                &:hover {
                    text-decoration: underline;
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .products-review-comments {
        margin-top: 40px;

        .user-review {
            position: relative;
            margin-bottom: 20px;
            padding: 0 0 20px 110px;
            border-bottom: 1px solid #eeeeee;
    
            img {
                top: 0;
                left: 0;
                width: 90px;
                height: 90px;
                border-radius: 5px;
                position: absolute;
            }
            .sub-name {
                margin-bottom: 10px;
                font-weight: 600;
            }
            .review-rating {
                display: block;
                margin-bottom: 10px;
    
                .review-stars {
                    i {
                        font-size: 14px;
                        color: #cecfd2;
                        margin-right: 4px;
                        display: inline-block;
        
                        &.checked {
                            color: orange;
                        }
                    }
                }
            }
        }
    }
    .review-form-wrapper {
        margin-top: 30px;

        h3 {
            margin-bottom: 10px;
            font-size: 22px;
        }
        .comment-notes {
            span {
                color: red;
            }
        }
        form {
            margin-top: 20px;

            .form-group {
                margin-bottom: 25px;
                text-align: start;
            }
            .rating {
                text-align: start;
                overflow: hidden;
                max-width: 115px;
                margin: {
                    top: -5px;
                    bottom: 20px;
                };
                label {
                    width: 23px;
                    height: 23px;
                    float: right;
                    cursor: pointer;
                    position: relative;

                    &:not(:first-of-type) {
                        padding-right: 5px;
                    }
                    &:before {
                        transition: var(--transition);
                        content: "\2605";
                        color: #cccccc;
                        font-size: 27px;
                        line-height: 1;
                    }
                }
                input {
                    display: none;
                }
                input:checked ~ label:before, &:not(:checked) > label:hover:before, &:not(:checked) > label:hover ~ label:before {
                    color: #f6b500;
                }
            }
            .comment-form-cookies-consent {
                text-align: start;
                margin-bottom: 0;
    
                [type="checkbox"]:checked, [type="checkbox"]:not(:checked) {
                    display: none;
                }
                [type="checkbox"]:checked + label, [type="checkbox"]:not(:checked) + label {
                    cursor: pointer;
                    margin-bottom: 0;
                    line-height: 20px;
                    position: relative;
                    padding-left: 28px;
                    display: inline-block;
                    color: var(--paragraphColor);
                }
                [type="checkbox"]:checked + label:before, [type="checkbox"]:not(:checked) + label:before {
                    left: 0;
                    top: 1px;
                    content: '';
                    width: 19px;
                    height: 19px;
                    position: absolute;
                    border-radius: 3px;
                    transition: all 0.2s ease;
                    border: 1px solid #dddddd;
                    background: var(--whiteColor);
                }
                [type="checkbox"]:checked + label:after, [type="checkbox"]:not(:checked) + label:after {
                    content: '';
                    width: 8px;
                    height: 8px;
                    background: var(--mainColor);
                    position: absolute;
                    top: 6.5px;
                    left: 6px;
                    -webkit-transition: all 0.2s ease;
                    transition: all 0.2s ease;
                }
                [type="checkbox"]:not(:checked) + label:after {
                    opacity: 0;
                    -webkit-transform: scale(0);
                    transform: scale(0);
                }
                [type="checkbox"]:checked + label:after {
                    opacity: 1;
                    -webkit-transform: scale(1);
                    transform: scale(1);
                }
                [type="checkbox"]:hover + label:before {
                    border-color: var(--mainColor);
                }
                [type="checkbox"]:checked + label:before {
                    border-color: var(--mainColor);
                }
            }
            button {
                border: none;
                overflow: hidden;
                margin-top: 20px;
                text-align: center;
                display: inline-block;
                color: var(--whiteColor);
                background-color: var(--mainColor);
                transition: var(--transition);
                border-radius: 5px;
                padding: 12px 40px;
                font: {
                    weight: 500;
                    size: var(--fontSize);
                };
                &:hover {
                    background-color: var(--blackColor);
                    color: var(--whiteColor);
                }
            }
        }
    }
    .table-striped {
        margin-bottom: 0;
        
        tbody {
            tr {
                border: none;

                td {
                    border: none;
                    padding: 12px 20px;
                    color: var(--blackColor);
                    font-size: var(--fontSize);
                }
                &:nth-of-type(odd) {
                    background-color: rgba(0, 0, 0, .03);
                }
            }
        }
    }
    .table>:not(caption)>*>* {
        box-shadow: unset;
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .products-details-desc {
        padding-left: 0;
        margin-top: 30px;

        h3 {
            font-size: 18px;
        }
        .price {
            margin-bottom: 12px;
            font-size: 14px;
        }
        .products-review {
            margin-bottom: 15px;
        }
        .products-add-to-cart {
            .input-counter {
                input {
                    height: 41px;
                    font-size: 15px;
                }
                span {
                    font-size: 13px;
                    line-height: 44px;
                }
            }
        }
    }
    .products-details-tabs {
        margin-top: 30px;

        .products-review-comments {
            margin-top: 0;

            .user-review {
                padding-left: 0;

                img {
                    margin-bottom: 15px;
                    position: relative;
                    left: 0;
                    top: 0;
                }
                .review-rating {
                    span {
                        display: block !important;
                        font-size: 15px;
                        top: 0;
                        margin: {
                            left: 0;
                            top: 5px;
                        };
                    }
                }
            }
        }
        .review-form-wrapper {
            h3 {
                font-size: 17px;
            }
            form {
                button {
                    font-size: 14px;
                    margin-top: 20px;
                    padding: 11px 30px;
                }
            }
        }
        .table-striped {
            tbody {
                tr {
                    td {
                        padding: 10px 15px;
                        font-size: 14px;
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {

    .products-details-tabs {
        .products-review-comments {
            .user-review {
                padding-left: 110px;

                img {
                    margin-bottom: 0;
                    position: absolute;
                }
            }
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    
    .products-details-desc {
        padding-left: 0;
        margin-top: 30px;

        h3 {
            font-size: 21px;
        }
        .price {
            font-size: 16px;
        }
    }
    .products-details-tabs {
        margin-top: 40px;

        .review-form-wrapper {
            h3 {
                font-size: 20px;
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    
    .products-details-area {
        .row {
            &.align-items-center {
                align-items: unset !important;
            }
        }
    }
    .products-details-desc {
        padding-left: 0;
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

}