<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12 col-md-12">
                <div class="single-footer-widget pr-5">
                    <a routerLink="/" class="logo">
                        <img class="logo" src="assets/img/logo.png" alt="logo">
                    </a>
                    <p>Với tinh thần trách nhiệm cao, luôn đặt chất lượng sản phẩm lên hàng đầu, chúng tôi cam kết với hàng bán ra hoàn toàn chất lượng.</p>
                    <ul class="social-links">
                        <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-pinterest-p"></i></a></li>
                    </ul>
                    <a href="#" target="_blank" class="location">Xem gian hàng của chúng tôi trên Shopee</a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
                <div class="single-footer-widget">
                    <h3>Hỗ trợ</h3>
                    <ul class="custom-links">
                        <li><a routerLink="/order-tracking">Tra cứu đơn hàng</a></li>
                        <li><a routerLink="/shipping">Hướng dẫn mua hàng</a></li>
                        <li><a routerLink="/wishlist">Chỉnh sách đổi trả</a></li>
                        <li><a routerLink="/privacy-policy">Chính sách & điều khoản sử dụng</a></li>
                        <li><a routerLink="/contact">Gửi yêu cầu hỗ trợ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
                <div class="single-footer-widget">
                    <h3>Công ty</h3>
                    <ul class="custom-links">
                        <li><a routerLink="/about">Về chúng tôi</a></li>
                        <li><a routerLink="/contact">Liên hệ</a></li>
                        <li><a routerLink="/contact">Địa chỉ</a></li>
                        <li><a routerLink="/contact">Tuyển dụng</a></li>
                        <li><a routerLink="/shop-full-width-1">Gift Cards</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4">
                <div class="single-footer-widget">
                    <h3>Liên hệ</h3>
                    <ul class="custom-links">
                        <li><a href="#" target="_blank">Instagram</a></li>
                        <li><a href="#" target="_blank">Pinterest</a></li>
                        <li><a href="#" target="_blank">Facebook</a></li>
                    </ul>
                    <div class="phone">
                        <span>Số điện thoại:</span>
                        <a href="tel:+1234567898">(+84) 973.930.729</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-7 col-sm-7">
                    <p>© Trang web này thuộc sở hữu của <a href="/" target="_blank">King Yến Mạch</a></p>
                </div>
                <div class="col-lg-6 col-md-5 col-sm-5">
                    <div class="payment-type">
                        <img src="assets/img/paypal.png" style="height: 70px;" alt="payment-type">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>