<div
    class="container"
    [ngClass]="{'d-none': router.url === '/index-4' || router.url === '/index-5' || router.url === '/index-6' || router.url === '/index-7' || router.url === '/index-8'}"
>
    <div class="facility-inner border-radius">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-facility-box">
                    <div class="icon">
                        <i class="fas fa-truck"></i>
                    </div>
                    <h3>Miễn phí ship</h3>
                    <span>Với đơn hàng trên 250.000đ</span>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-facility-box">
                    <div class="icon">
                        <i class="far fa-credit-card"></i>
                    </div>
                    <h3>Thanh toán đa dạng</h3>
                    <span>Nhiều hình thức thanh toán</span>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-facility-box">
                    <div class="icon">
                        <i class="fas fa-gift"></i>
                    </div>
                    <h3>Phiếu quà tặng</h3>
                    <span>Mua từ 5.000.000đ</span>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-facility-box">
                    <div class="icon">
                        <i class="fas fa-headphones-alt"></i>
                    </div>
                    <h3>Hỗ trợ 24/7</h3>
                    <span>Luôn trực tuyến</span>
                </div>
            </div>
        </div>
    </div>
</div>