<div class="main-banner-area" *ngFor="let Content of bannerBGImage;" style="background-image: url({{Content.img}});">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12">
                <div class="content">
                    <span class="sub-title">New Arrival!</span>
                    <h1>WOMAN COLLECTION <span>-50%</span></h1>
                    <a routerLink="/shop-full-width-1" class="default-btn"><i class="fas fa-store"></i> SHOP NOW</a>
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="products-image-list">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-4 col-6">
                            <div class="image">
                                <img src="assets/img/banner/woman1.png" alt="banner-image">
                                <div class="card-content">
                                    <div class="item">
                                        <div class="row m-0">
                                            <div class="col-lg-4 col-md-4 p-0">
                                                <div class="img bg1">
                                                    <img src="assets/img/products/products22.jpg" alt="products-image">
                                                    <a routerLink="/products-details" class="link-btn"></a>
                                                </div>
                                            </div>
                                            <div class="col-lg-8 col-md-8 p-0">
                                                <div class="text">
                                                    <h3><a routerLink="/products-details">Woman summer t-shirt</a></h3>
                                                    <span class="price">$75.00</span>
                                                    <a routerLink="/cart" class="add-to-cart-btn">Add to cart <i class="fas fa-cart-plus"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="dot"></span>
                                </div>
                                <div class="card-content style-two">
                                    <div class="item">
                                        <div class="row m-0">
                                            <div class="col-lg-4 col-md-4 p-0">
                                                <div class="img bg1">
                                                    <img src="assets/img/products/products22.jpg" alt="products-image">
                                                    <a routerLink="/products-details" class="link-btn"></a>
                                                </div>
                                            </div>
                                            <div class="col-lg-8 col-md-8 p-0">
                                                <div class="text">
                                                    <h3><a routerLink="/products-details">Woman summer t-shirt</a></h3>
                                                    <span class="price">$75.00</span>
                                                    <a routerLink="/cart" class="add-to-cart-btn">Add to cart <i class="fas fa-cart-plus"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="dot"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-6">
                            <div class="image">
                                <img src="assets/img/banner/woman2.png" alt="banner-image">
                                <div class="card-content style-three">
                                    <div class="item">
                                        <div class="row m-0">
                                            <div class="col-lg-4 col-md-4 p-0">
                                                <div class="img bg1">
                                                    <img src="assets/img/products/products22.jpg" alt="products-image">
                                                    <a routerLink="/products-details" class="link-btn"></a>
                                                </div>
                                            </div>
                                            <div class="col-lg-8 col-md-8 p-0">
                                                <div class="text">
                                                    <h3><a routerLink="/products-details">Woman summer t-shirt</a></h3>
                                                    <span class="price">$75.00</span>
                                                    <a routerLink="/cart" class="add-to-cart-btn">Add to cart <i class="fas fa-cart-plus"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="dot"></span>
                                </div>
                                <div class="card-content style-four">
                                    <div class="item">
                                        <div class="row m-0">
                                            <div class="col-lg-4 col-md-4 p-0">
                                                <div class="img bg1">
                                                    <img src="assets/img/products/products22.jpg" alt="products-image">
                                                    <a routerLink="/products-details" class="link-btn"></a>
                                                </div>
                                            </div>
                                            <div class="col-lg-8 col-md-8 p-0">
                                                <div class="text">
                                                    <h3><a routerLink="/products-details">Woman summer t-shirt</a></h3>
                                                    <span class="price">$75.00</span>
                                                    <a routerLink="/cart" class="add-to-cart-btn">Add to cart <i class="fas fa-cart-plus"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="dot"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-6">
                            <div class="image">
                                <img src="assets/img/banner/woman3.png" alt="banner-image">
                                <div class="card-content style-five">
                                    <div class="item">
                                        <div class="row m-0">
                                            <div class="col-lg-4 col-md-4 p-0">
                                                <div class="img bg1">
                                                    <img src="assets/img/products/products22.jpg" alt="products-image">
                                                    <a routerLink="/products-details" class="link-btn"></a>
                                                </div>
                                            </div>
                                            <div class="col-lg-8 col-md-8 p-0">
                                                <div class="text">
                                                    <h3><a routerLink="/products-details">Woman summer t-shirt</a></h3>
                                                    <span class="price">$75.00</span>
                                                    <a routerLink="/cart" class="add-to-cart-btn">Add to cart <i class="fas fa-cart-plus"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="dot"></span>
                                </div>
                                <div class="card-content style-six">
                                    <div class="item">
                                        <div class="row m-0">
                                            <div class="col-lg-4 col-md-4 p-0">
                                                <div class="img bg1">
                                                    <img src="assets/img/products/products22.jpg" alt="products-image">
                                                    <a routerLink="/products-details" class="link-btn"></a>
                                                </div>
                                            </div>
                                            <div class="col-lg-8 col-md-8 p-0">
                                                <div class="text">
                                                    <h3><a routerLink="/products-details">Woman summer t-shirt</a></h3>
                                                    <span class="price">$75.00</span>
                                                    <a routerLink="/cart" class="add-to-cart-btn">Add to cart <i class="fas fa-cart-plus"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="dot"></span>
                                </div>
                                <div class="card-content style-seven">
                                    <div class="item">
                                        <div class="row m-0">
                                            <div class="col-lg-4 col-md-4 p-0">
                                                <div class="img bg1">
                                                    <img src="assets/img/products/products22.jpg" alt="products-image">
                                                    <a routerLink="/products-details" class="link-btn"></a>
                                                </div>
                                            </div>
                                            <div class="col-lg-8 col-md-8 p-0">
                                                <div class="text">
                                                    <h3><a routerLink="/products-details">Woman summer t-shirt</a></h3>
                                                    <span class="price">$75.00</span>
                                                    <a routerLink="/cart" class="add-to-cart-btn">Add to cart <i class="fas fa-cart-plus"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="dot"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape1"><img src="assets/img/shape/shape1.png" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape/shape4.png" alt="shape"></div>
</div>