<div class="electronic-products-area pb-70">
    <div class="container">
        <div class="section-heading-title">
            <h2>Best Sellers</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6">
                <div class="electronic-products-card">
                    <div class="electronic-image">
                        <a routerLink="/products-details">
                            <img src="assets/img/home-seven/products/products13.jpg" alt="image">
                        </a>
                        <ul class="products-action-list">
                            <li>
                                <a routerLink="/products-details">
                                    <i class="fas fa-search-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/cart">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/wishlist">
                                    <i class="far fa-heart"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="sale">Sale</div>
                    </div>
                    <div class="electronic-content">
                        <b>Gadgets</b>
                        <h3>
                            <a routerLink="/products-details">Wireless Mouse Keyboard</a>
                        </h3>
                        <div class="price">
                            <span class="new-price">$35.00</span>
                            <span class="old-price">$45.00</span>
                        </div>
                        <ul class="rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="electronic-products-card">
                    <div class="electronic-image">
                        <a routerLink="/products-details">
                            <img src="assets/img/home-seven/products/products14.jpg" alt="image">
                        </a>
                        <ul class="products-action-list">
                            <li>
                                <a routerLink="/products-details">
                                    <i class="fas fa-search-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/cart">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/wishlist">
                                    <i class="far fa-heart"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="sale">Sale</div>
                    </div>
                    <div class="electronic-content">
                        <b>Gadgets</b>
                        <h3>
                            <a routerLink="/products-details">Vr Box / Virtual Reality</a>
                        </h3>
                        <div class="price">
                            <span class="new-price">$65.00</span>
                            <span class="old-price">$89.00</span>
                        </div>
                        <ul class="rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="electronic-products-card">
                    <div class="electronic-image">
                        <a routerLink="/products-details">
                            <img src="assets/img/home-seven/products/products15.jpg" alt="image">
                        </a>
                        <ul class="products-action-list">
                            <li>
                                <a routerLink="/products-details">
                                    <i class="fas fa-search-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/cart">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/wishlist">
                                    <i class="far fa-heart"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="sale">Sale</div>
                    </div>
                    <div class="electronic-content">
                        <b>Gadgets</b>
                        <h3>
                            <a routerLink="/products-details">Modern Air Conditioning</a>
                        </h3>
                        <div class="price">
                            <span class="new-price">$265.00</span>
                            <span class="old-price">$289.00</span>
                        </div>
                        <ul class="rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="electronic-products-card">
                    <div class="electronic-image">
                        <a routerLink="/products-details">
                            <img src="assets/img/home-seven/products/products16.jpg" alt="image">
                        </a>
                        <ul class="products-action-list">
                            <li>
                                <a routerLink="/products-details">
                                    <i class="fas fa-search-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/cart">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/wishlist">
                                    <i class="far fa-heart"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="sale">Sale</div>
                    </div>
                    <div class="electronic-content">
                        <b>Gadgets</b>
                        <h3>
                            <a routerLink="/products-details">Camera With Angle Lens</a>
                        </h3>
                        <div class="price">
                            <span class="new-price">$50.00</span>
                            <span class="old-price">$80.00</span>
                        </div>
                        <ul class="rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>