<!-- Page Title -->
<div class="page-title-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-7">
                <h2>Gallery Filter</h2>
            </div>
            <div class="col-lg-6 col-md-5">
                <ul class="page-title-content">
                    <li><a routerLink="/">Home</a></li>
                    <li>Gallery</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Gallery -->
<div class="gallery-area pt-100 pb-70">
    <div class="container">
        <div class="shorting-menu">
            <ngx-tabset>
                <ngx-tab tabTitle="SHOW ALL">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-gallery-item">
                                <img src="assets/img/gallery/gallery-img1.jpg" alt="image">
                                <h3>Jason Smith <span>- Photographer</span></h3>
                                <a href="assets/img/gallery/gallery-img1.jpg" class="popup-image link-btn"></a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-gallery-item">
                                <img src="assets/img/gallery/gallery-img2.jpg" alt="image">
                                <h3>Sarah Taylor <span>- Photographer</span></h3>
                                <a href="assets/img/gallery/gallery-img2.jpg" class="popup-image link-btn"></a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-gallery-item">
                                <img src="assets/img/gallery/gallery-img3.jpg" alt="image">
                                <h3>David Warner <span>- Photographer</span></h3>
                                <a href="assets/img/gallery/gallery-img3.jpg" class="popup-image link-btn"></a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-gallery-item">
                                <img src="assets/img/gallery/gallery-img4.jpg" alt="image">
                                <h3>Joe Root <span>- Photographer</span></h3>
                                <a href="assets/img/gallery/gallery-img4.jpg" class="popup-image link-btn"></a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-gallery-item">
                                <img src="assets/img/gallery/gallery-img5.jpg" alt="image">
                                <h3>Amy Jones <span>- Photographer</span></h3>
                                <a href="assets/img/gallery/gallery-img5.jpg" class="popup-image link-btn"></a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-gallery-item">
                                <img src="assets/img/gallery/gallery-img6.jpg" alt="image">
                                <h3>Alina Smith <span>- Photographer</span></h3>
                                <a href="assets/img/gallery/gallery-img6.jpg" class="popup-image link-btn"></a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-gallery-item">
                                <img src="assets/img/gallery/gallery-img7.jpg" alt="image">
                                <h3>Jason Smith <span>- Photographer</span></h3>
                                <a href="assets/img/gallery/gallery-img7.jpg" class="popup-image link-btn"></a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-gallery-item">
                                <img src="assets/img/gallery/gallery-img8.jpg" alt="image">
                                <h3>Sarah Taylor <span>- Photographer</span></h3>
                                <a href="assets/img/gallery/gallery-img8.jpg" class="popup-image link-btn"></a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-gallery-item">
                                <img src="assets/img/gallery/gallery-img9.jpg" alt="image">
                                <h3>David Warner <span>- Photographer</span></h3>
                                <a href="assets/img/gallery/gallery-img9.jpg" class="popup-image link-btn"></a>
                            </div>
                        </div>
                    </div>
                </ngx-tab>
                <ngx-tab tabTitle="BRANDING">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-gallery-item">
                                <img src="assets/img/gallery/gallery-img1.jpg" alt="image">
                                <h3>Jason Smith <span>- Photographer</span></h3>
                                <a href="assets/img/gallery/gallery-img1.jpg" class="popup-image link-btn"></a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-gallery-item">
                                <img src="assets/img/gallery/gallery-img5.jpg" alt="image">
                                <h3>Amy Jones <span>- Photographer</span></h3>
                                <a href="assets/img/gallery/gallery-img5.jpg" class="popup-image link-btn"></a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-gallery-item">
                                <img src="assets/img/gallery/gallery-img9.jpg" alt="image">
                                <h3>David Warner <span>- Photographer</span></h3>
                                <a href="assets/img/gallery/gallery-img9.jpg" class="popup-image link-btn"></a>
                            </div>
                        </div>
                    </div>
                </ngx-tab>
                <ngx-tab tabTitle="DESIGN">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-gallery-item">
                                <img src="assets/img/gallery/gallery-img2.jpg" alt="image">
                                <h3>Sarah Taylor <span>- Photographer</span></h3>
                                <a href="assets/img/gallery/gallery-img2.jpg" class="popup-image link-btn"></a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-gallery-item">
                                <img src="assets/img/gallery/gallery-img6.jpg" alt="image">
                                <h3>Alina Smith <span>- Photographer</span></h3>
                                <a href="assets/img/gallery/gallery-img6.jpg" class="popup-image link-btn"></a>
                            </div>
                        </div>
                    </div>
                </ngx-tab>
                <ngx-tab tabTitle="WEB">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-gallery-item">
                                <img src="assets/img/gallery/gallery-img3.jpg" alt="image">
                                <h3>David Warner <span>- Photographer</span></h3>
                                <a href="assets/img/gallery/gallery-img3.jpg" class="popup-image link-btn"></a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-gallery-item">
                                <img src="assets/img/gallery/gallery-img7.jpg" alt="image">
                                <h3>Jason Smith <span>- Photographer</span></h3>
                                <a href="assets/img/gallery/gallery-img7.jpg" class="popup-image link-btn"></a>
                            </div>
                        </div>
                    </div>
                </ngx-tab>
                <ngx-tab tabTitle="PHOTO">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-gallery-item">
                                <img src="assets/img/gallery/gallery-img4.jpg" alt="image">
                                <h3>Joe Root <span>- Photographer</span></h3>
                                <a href="assets/img/gallery/gallery-img4.jpg" class="popup-image link-btn"></a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-gallery-item">
                                <img src="assets/img/gallery/gallery-img8.jpg" alt="image">
                                <h3>Sarah Taylor <span>- Photographer</span></h3>
                                <a href="assets/img/gallery/gallery-img8.jpg" class="popup-image link-btn"></a>
                            </div>
                        </div>
                    </div>
                </ngx-tab>
            </ngx-tabset>
        </div>
    </div>
</div>

<app-subscribe></app-subscribe>