<div
    class="collection-area pt-100 pb-70"
    [ngClass]="{'d-none': router.url === '/index-4' || router.url === '/index-5' || router.url === '/index-6' || router.url === '/index-7' || router.url === '/index-8'}"
>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-collection-box">
                    <img src="assets/img/collection/collection1.jpg" alt="collection-image">
                    <div class="content">
                        <h3>Clothing <span>34 Items</span></h3>
                    </div>
                    <a routerLink="/shop-full-width-1" class="link-btn"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-collection-box">
                    <img src="assets/img/collection/collection2.jpg" alt="collection-image">
                    <div class="content">
                        <h3>Accessories <span>28 Items</span></h3>
                    </div>
                    <a routerLink="/shop-full-width-1" class="link-btn"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-collection-box">
                    <img src="assets/img/collection/collection3.jpg" alt="collection-image">
                    <div class="content">
                        <h3>Leather Bag <span>52 Items</span></h3>
                    </div>
                    <a routerLink="/shop-full-width-1" class="link-btn"></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- This section for Home Demo - 4 -->
<div
    class="crafts-collection-area pt-100 pb-70 d-none"
    [ngClass]="{'d-block': router.url === '/index-4'}"
>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-crafts-collection-box">
                    <div class="crafts-image">
                        <img src="assets/img/more-home/collection/collection-1.jpg" alt="collection-image">
                    </div>
                    <div class="crafts-content">
                        <span>57 Items</span>
                        <h3>Handicrafts</h3>
                        <a routerLink="/shop-right-sidebar-1" class="collection-btn"><i class="fas fa-store"></i> SHOP NOW</a>
                    </div>
                    <a routerLink="/shop-full-width-1" class="link-btn"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-crafts-collection-box">
                    <div class="crafts-image">
                        <img src="assets/img/more-home/collection/collection-2.jpg" alt="collection-image">
                    </div>
                    <div class="crafts-content">
                        <span>39 Items</span>
                        <h3>Bambooworking</h3>
                        <a routerLink="/shop-right-sidebar-1" class="collection-btn"><i class="fas fa-store"></i> SHOP NOW</a>
                    </div>
                    <a routerLink="/shop-full-width-1" class="link-btn"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-crafts-collection-box">
                    <div class="crafts-image">
                        <img src="assets/img/more-home/collection/collection-3.jpg" alt="collection-image">
                    </div>
                    <div class="crafts-content">
                        <span>83 Items</span>
                        <h3>Drawing</h3>
                        <a routerLink="/shop-right-sidebar-1" class="collection-btn"><i class="fas fa-store"></i> SHOP NOW</a>
                    </div>
                    <a routerLink="/shop-full-width-1" class="link-btn"></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- This section for Home Demo - 5 -->
<div
    class="skin-care-collection-area pt-100 d-none"
    [ngClass]="{'d-block': router.url === '/index-5'}"
>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6">
                <div class="skin-care-collection-card">
                    <img src="assets/img/more-home/collection/collection-4.jpg" alt="collection-image">
                    <div class="content">
                        <span>57 Items</span>
                        <h3>Body Lotions</h3>
                        <a routerLink="/shop-right-sidebar-1" class="collection-btn"><i class="fas fa-store"></i> SHOP NOW</a>
                    </div>
                    <a routerLink="/shop-full-width-1" class="link-btn"></a>
                </div>
                <div class="skin-care-collection-card with-padding-right">
                    <img src="assets/img/more-home/collection/collection-6.jpg" alt="collection-image">
                    <div class="content">
                        <span>83 Items</span>
                        <h3>Skin Tube</h3>
                        <a routerLink="/shop-right-sidebar-1" class="collection-btn"><i class="fas fa-store"></i> SHOP NOW</a>
                    </div>
                    <a routerLink="/shop-full-width-1" class="link-btn"></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
               <div class="skin-care-collection-card with-padding-left">
                    <img src="assets/img/more-home/collection/collection-5.jpg" alt="collection-image">
                    <div class="content">
                        <span>55 Items</span>
                        <h3>Beauty Soap</h3>
                        <a routerLink="/shop-right-sidebar-1" class="collection-btn"><i class="fas fa-store"></i> SHOP NOW</a>
                    </div>
                    <a routerLink="/shop-full-width-1" class="link-btn"></a>
                </div>
                <div class="skin-care-collection-card">
                    <img src="assets/img/more-home/collection/collection-7.jpg" alt="collection-image">
                    <div class="content">
                        <span>100 Items</span>
                        <h3>Face Cleaner</h3>
                        <a routerLink="/shop-right-sidebar-1" class="collection-btn"><i class="fas fa-store"></i> SHOP NOW</a>
                    </div>
                    <a routerLink="/shop-full-width-1" class="link-btn"></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- This section for Home Demo - 6 -->
<div
    class="ros-overview-area pb-70 d-none"
    [ngClass]="{'d-block': router.url === '/index-6'}"
>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-sm-6 with-bottom">
                <div class="ros-overview-card" style="background-image: url(assets/img/home-six/overview/overview1.jpg);">
                    <div class="content">
                        <span>Up to 30% Off</span>
                        <h3>Farm Chicken Eeggs</h3>
                        <a routerLink="/shop-right-sidebar-1" class="default-btn-with-border-radius">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="ros-overview-card" style="background-image: url(assets/img/home-six/overview/overview2.jpg);">
                    <div class="content">
                        <span>New Collection</span>
                        <h3>Makeup Set For Women</h3>
                        <a routerLink="/shop-right-sidebar-1" class="default-btn-with-border-radius">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- This section for Home Demo - 7 -->
<div
    class="electronic-boxes-area pb-70 d-none"
    [ngClass]="{'d-block': router.url === '/index-7'}"
>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-12">
                <div class="electronic-boxes-card">
                    <img src="assets/img/home-seven/boxes/boxes1.jpg" alt="image">
                    <div class="boxes-content">
                        <span>UP TO 50% OFF</span>
                        <h3>Any Laptop Device</h3>
                        <a routerLink="/shop-full-width-1" class="default-btn-with-border-radius">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="electronic-boxes-card">
                    <img src="assets/img/home-seven/boxes/boxes2.jpg" alt="image">
                    <div class="boxes-content">
                        <span>New Collection</span>
                        <h3>Children's Smart Watch</h3>
                        <a routerLink="/shop-full-width-1" class="default-btn-with-border-radius">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- This section for Home Demo - 8 -->
<div
    class="grocery-overview-area pb-70 d-none"
    [ngClass]="{'d-block': router.url === '/index-8'}"
>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-12">
                <div class="grocery-overview-card">
                    <img src="assets/img/home-eight/overview/overview1.jpg" alt="image">
                    <div class="overview-content">
                        <span>UP TO 50% OFF</span>
                        <h3>Strawberry Fruit Jam</h3>
                        <a routerLink="/shop-full-width-1" class="default-btn-with-border-radius">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="grocery-overview-card">
                    <img src="assets/img/home-eight/overview/overview2.jpg" alt="image">
                    <div class="overview-content right-style">
                        <span>New Collection</span>
                        <h3>Best Organic Products</h3>
                        <a routerLink="/shop-full-width-1" class="default-btn-with-border-radius">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grocery-overview-shape">
        <img src="assets/img/home-eight/overview/shape.png" alt="image">
    </div>
</div>