@import "../products/products.component.scss";

.d-none {
    &.d-block {
        display: block !important;
    }
}
.crafts-trending-products-card {
    text-align: center;
    margin-bottom: 30px;
    transition: var(--transition);

    .products-content {
        margin-top: 25px;

        h3 {
            font-size: 22px;
            margin-bottom: 15px;
        }
        .price {
            color: var(--optionalColor);
            font: {
                size: var(--fontSize);
                weight: 500;
            };
        }
    }
    &:hover {
        transform: translateY(-5px);

        .products-content {
            h3 {
                a {
                    color: var(--mainColor);
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .crafts-trending-products-card {
        .products-content {
            margin-top: 18px;
    
            h3 {
                font-size: 18px;
                margin-bottom: 12px;
            }
            .price {
                font-size: 14px;
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .crafts-trending-products-card {
        .products-content {
            margin-top: 22px;
    
            h3 {
                font-size: 20px;
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}