<div class="home-wrapper-area">
    <div class="container-fluid">
        <div class="home-wrapper-slides">
            <owl-carousel-o [options]="homeSlides">
                <ng-template carouselSlide>
                    <div class="single-banner-item">
                        <div class="row align-items-center">
                            <div class="col-lg-4 col-md-12">
                                <div class="content">
                                    <span class="sub-title">New Arrival!</span>
                                    <h1>SUMMER COLLECTION <span>-50%</span></h1>
                                    <a routerLink="/shop-left-sidebar-2" class="default-btn"><i class="fas fa-store"></i> SHOP NOW</a>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-12">
                                <div class="image">
                                    <img src="assets/img/banner/banner1.jpg" alt="banner-image">
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-banner-item">
                        <div class="row align-items-center">
                            <div class="col-lg-4 col-md-12">
                                <div class="content">
                                    <span class="sub-title">New Arrival!</span>
                                    <h1>WINTER COLLECTION <span>-20%</span></h1>
                                    <a routerLink="/shop-left-sidebar-2" class="default-btn"><i class="fas fa-store"></i> SHOP NOW</a>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-12">
                                <div class="image">
                                    <img src="assets/img/banner/banner2.jpg" alt="banner-image">
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
    <div class="shape1"><img src="assets/img/shape/shape1.png" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape/shape3.png" alt="shape"></div>
</div>