<app-banner-home-page [listBanner]="listBanner"></app-banner-home-page>
<app-product-by-category
    [listCategory]="listCategory"
></app-product-by-category>
<app-featured-home-page [listFeather]="listFeather"></app-featured-home-page>

<app-special-deals-home-page
    [listProductsBySpecial]="listProductsBySpecial"
></app-special-deals-home-page>

<app-special-offer-home-page
    [listProductBySpecialOffer]="listProductsBySpecial"
></app-special-offer-home-page>

<app-popular-home-page
    [listProductByPopular]="listProductByPopular"
></app-popular-home-page>
